@CHARSET "UTF-8";
@import url(reset.css);
@import url(lib.css);



html, body{
	background: #f6f4f5 url(../img/backend/body.png) 0 0 repeat-x;
	color: #595a5c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 100%;
}
a:link, a:visited, a:active, a:hover{
	color: #63A8C9;
	outline: none;
	text-decoration: none;
}

body.excel-page #middle {
	/*width: 1200px;*/
	width: 100%;
}

body.excel-page .leftmenu-middle {
	width: 100%;
	background: transparent;
}

body.excel-page .leftmenu-middle .menu {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
body.excel-page .leftmenu-middle .menu li {
	margin: 10px;
}
body.excel-page .leftmenu-top, body.excel-page .leftmenu-bottom {
	display: none;
}

body.excel-page .content-top {
	display: none;
}
body.excel-page .content-middle {
	background: transparent;
}
body.excel-page .content-bottom {
	background: transparent;
}

body.excel-page #leftmenu {
	float: none;
	width: 100%;
	padding-left: 10px;
}
body.excel-page #right {
	position: relative;
	width: 100%;
	float: none;
	min-height: 100vh;
}
body.excel-page iframe {
	position: absolute;
	background: #fafafa;
	border: none;
	top: 0; right: 0;
	bottom: 0; left: 0;
	width: 70%;
	margin: 0 auto;
	height: 100%;
}

.max-content {
	width: max-content;
}
.send-contract-mail,
.send-contract-sms {
	display: block;
	border: solid 1px blue;
	padding: 3px;
	margin: 3px;
	border-radius: 10px;
}

.return-proof-button {
	right: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 10px;
	max-width: 320px;
}
@media (min-width: 600px){
    .return-proof-button {
    position: absolute;
    }
}

.return-proof-button .pj-button {
	margin: 0;
}

.return-proof-button a.pj-button {
	align-self: flex-start;
}

.return-proff-status {
	font-size: 14px;
	color: grey;
	text-align: right;
	margin-top: 2px;
}


.pick-up-container {
	display: flex;
	justify-content: space-between;
}
.pick-up__gas {
	padding-left: 10px;
	align-self: center;
	margin-top: 20px;
}

.wrapper {
	position: relative;
	width: 400px;
	height: 200px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.signature-pad {
	position: absolute;
	left: 0;
	top: 0;
	width:400px;
	height:200px;
	background-color: white;
}

#processing {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color:#E5E5E5;
	color:#000000;
	display:none;
	font-weight:bold;
	left:50%;
	padding:5px 8px;
	position:absolute;
	top:20px;
	width:auto;
	z-index:9999;
}
#container{
	min-height: 100%;
	width: 100%;
}
#header{
	height: 118px;
	position: relative;
	margin: 0 auto;
	width: 1040px;
}
#logo{
	background: url(../img/backend/logo.png) 0 0 no-repeat;
	display: block;
	width: 552px;
	margin: 0 auto;
	height: 118px;
	line-height: 124px;
	font-size: 40px;
	font-weight: 900;
	text-shadow: rgb(224, 224, 224) 1px 1px 0px;
}
#logo a{
	display: block;
	float: left;
	width: 450px;
	text-decoration: none;
	color: #054d87;
	text-align: center;
	margin-left: 22px;
}
#logo span{
	display: block;
	float: right;
	color: #0882b3;
	font-size: 24px;
	font-weight: bold;
	width: 80px;
	text-indent: 10px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#logo  { font-size: 36px; }
}
#middle{
	padding: 25px 0 60px;
	margin: 0 auto;
	width: 1040px;
}
#leftmenu{
	float: left;
	width: 240px;
}
#right{
	float: right;
	width: 782px;
}
#footer-wrap{
	background: #f6f5f5 url(../img/backend/footer.png) 0 0 repeat-x;
	height: 40px;
	margin-top: -40px;
	width: 100%;
}
#footer{
	height: 40px;
	margin: 0 auto;
	position: relative;
	width: 1040px;
}
#footer p{
	position: absolute;
	top: 15px;
	right: 0;
}
.content-top{
	background: url(../img/backend/content-top.png) 0 0 no-repeat;
	height: 12px;
	overflow: hidden;
}
.content-middle{
	background: url(../img/backend/content-middle.png) 0 0 repeat-y;
	padding: 10px 20px;
}
.content-bottom{
	background: url(../img/backend/content-bottom.png) 0 0 no-repeat;
	height: 11px;
	overflow: hidden;

}
#middle-signature {
	--padding-inline-size: 10px;
	padding: 25px var(--padding-inline-size) 60px;
	margin: 0 auto;
	max-width: 400px;
	width: calc(100% - 2 * var(--padding-inline-size));
	border-radius: 5px;
}
.content-top-signature {
	height: 12px;
	overflow: hidden;
}
.content-middle-signature {
	padding: 20px 2px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}
.content-bottom-signature{
	height: 11px;
	overflow: hidden;
}

.leftmenu-top{
	background: url(../img/backend/leftmenu-top.png) 0 0 no-repeat;
	height: 10px;
	overflow: hidden;
	width: 240px;
}
.leftmenu-middle{
	background: url(../img/backend/leftmenu-middle.png) 0 0 repeat-y;
	overflow: hidden;
	width: 240px;
}
.leftmenu-bottom{
	background: url(../img/backend/leftmenu-bottom.png) 0 0 no-repeat;
	height: 10px;
	overflow: hidden;
	width: 240px;
}
/* Login */
#login-content{
	margin: 80px auto 0;
	min-height: 220px;
	height: auto !important;
	height: 220px;
	width: 560px;
}
#login-content h3{
	color: #6f8a9f;
	font-weight: bold;
	font-size: 1.4em;
	margin: 0 0 10px 0;
	text-align: center;
	text-transform: uppercase;
}
.login-box{
	width: 517px;
	height: 197px;
	background: url(../img/backend/login.png) 0 0 no-repeat;
	overflow: hidden;
	padding: 20px;
}
/* Buttons */
.button{
	border: none;
	cursor: pointer;
	height: 30px;
	width: 97px;
}
.button_login{background: url(../img/backend/btn_login.png) 0 0 no-repeat;}
.button_save{background: url(../img/backend/btn_save.png) 0 0 no-repeat;}
.button_search{background: url(../img/backend/btn_search.png) 0 0 no-repeat;}
.button_report{background: url(../img/backend/btn_report.png) 0 0 no-repeat;}
.button_send{background: url(../img/backend/btn_send.png) 0 0 no-repeat;}
.button_delete{background: url(../img/backend/btn_delete.png) 0 0 no-repeat;}
.button_hover{background-position: 0 -30px;}
.pjCrFilter .btn-status{
	padding-left: 8px;
	padding-right: 8px;
}
.pj-add-reservation{
	padding-left: 5px;
	padding-right: 5px;
}
.pj-search-reservation{
	width: 120px;
}

.pj-table-icon-transfer {
	display: inline-block;
	margin: 0 4px 0 10px;
	width: 23px;
	height: 24px;
}

/* Form controls */
.text,
.select,
.textarea{
	background-color: #fff;
	border: solid 1px #a0bad1;
	box-shadow: inset 2px 2px 1px #e8e8e8;
	border-radius: 3px;
	-moz-box-shadow: inset 2px 2px 1px #e8e8e8;
	-moz-border-radius: 3px;
	-webkit-box-shadow: inset 2px 2px 1px #e8e8e8;
	-webkit-border-radius: 3px;
	padding: 5px 3px;
}
.text{
	height: 20px;
}
.form{}
.form p,
.p{
	overflow: hidden;
	margin: 0 0 10px;
}
.form .title{
	display: block;
	float: left;
	padding: 6px 0 0;
	width: 130px;
}
.form .title110{
	display: block;
	float: left;
	padding: 6px 0 0;
	width: 110px;
}
.form label.content{
	display: inline-block;
	padding: 6px 0 0;
}
label.error{
	color: red;
	display: block;
	/*padding: 5px 0 0 150px;*/
	font-size: 12px;
	text-indent: 150px;
}
label.err{
	background-color: #FFB4B4;
	border: solid 1px #990000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #660000;
	display: block;
	width: auto;
	padding: 5px;
	margin: 0;
}
em{
	display: block;
	padding: 3px 0 2px 0;
	margin: 5px 0 5px 130px;
}
.tblError em{
	margin-left: 0;
}
.pj-form-field-custom label.error{
	text-indent: 0;
}
span.left{
	display: block;
	margin: 6px 0 0;
}
.form h3{
	color: #185181;
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}
/* Menu */
.menu{
	list-style: none;
	margin: 9px auto;
	overflow: hidden;
	width: 199px;
}
.menu li{
	margin: 0 0 5px 0;
}
.menu li a:link, .menu li a:visited{
	background: url(../img/backend/leftmenu-sprite.png) 0 0 no-repeat;
	color: #989393;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	height: 37px;
	line-height: 37px;
	width: 199px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
}
.menu li a:hover,
.menu li a.menu-focus{
	background-position: 0 -37px;
	color: #242625;
	text-decoration: none;
}
.menu a span{
	display: block;
	float: left;
	height: 30px;
	margin: 3px 4px 0 12px;
	width: 40px;
}
.menu-dashboard{background: url(../img/backend/menu-dashboard.png) 0 -30px no-repeat}
.menu-browse{background: url(../img/backend/menu-browse.png) 0 -30px no-repeat}
.menu-add{background: url(../img/backend/menu-add.png) 0 -30px no-repeat}
.menu-reservations{background: url(../img/backend/menu-reservations.png) 0 -30px no-repeat}
.menu-options{background: url(../img/backend/menu-options.png) 0 -30px no-repeat}
.menu-users{background: url(../img/backend/menu-users.png) 0 -30px no-repeat}

.menu-customers {
	background: url(../img/backend/menu-users.png) 0 -30px no-repeat
}
.menu-preview{background: url(../img/backend/menu-preview.png) 0 -30px no-repeat}
.menu-install{background: url(../img/backend/menu-install.png) 0 -30px no-repeat}
.menu-logout{background: url(../img/backend/menu-logout.png) 0 -30px no-repeat}
.menu-locations{background: url(../img/backend/menu-locations.png) 0 -30px no-repeat}
.menu-types{background: url(../img/backend/menu-types.png) 0 -30px no-repeat}
.menu-cars{background: url(../img/backend/menu-cars.png) 0 -30px no-repeat}
.menu-rates{background: url(../img/backend/menu-rates.png) 0 -30px no-repeat}
.menu-extras{background: url(../img/backend/menu-extras.png) 0 -30px no-repeat}
.menu-forms{background: url(../img/backend/menu-forms.png) 0 -30px no-repeat}
.menu-content{background: url(../img/backend/menu-content.png) 0 -30px no-repeat}
.menu-focus .menu-dashboard, .menu a:hover .menu-dashboard,
.menu-focus .menu-browse, .menu a:hover .menu-browse,
.menu-focus .menu-add, .menu a:hover .menu-add,
.menu-focus .menu-reservations, .menu a:hover .menu-reservations,
.menu-focus .menu-options, .menu a:hover .menu-options,
.menu-focus .menu-users, .menu a:hover .menu-users,
.menu-focus .menu-customers, .menu a:hover .menu-customers,
.menu-focus .menu-rates, .menu a:hover .menu-rates,
.menu-focus .menu-preview, .menu a:hover .menu-preview,
.menu-focus .menu-install, .menu a:hover .menu-install,
.menu-focus .menu-forms, .menu a:hover .menu-forms,
.menu-focus .menu-content, .menu a:hover .menu-content
.menu-focus .menu-logout, .menu a:hover .menu-logout{
	background-position: 0 0;
}
/* table */
.table{
	border-collapse: separate;
	border-top: solid 1px #e5e2e2;
	border-left: solid 1px #e5e2e2;
	border-bottom: solid 1px #e5e2e2;
	empty-cells: show;
	width: 100%;
}
.table th{
	background-color: #fff;
	border-bottom: solid 1px #e5e2e2;
	border-right: solid 1px #e5e2e2;
	color: #027ac6;
	font-weight: bold;
	font-size: 1.2em;
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 10px;
}
.table th.nosub{
	border-bottom: solid 1px #fff;
}
.table th.sub{
	background-color: #f7f7f7;
	border-right: solid 1px #e5e2e2;
	border-left: solid 1px #fff;
	border-bottom: solid 1px #fff;
	border-top: solid 1px #fff;
	color: #000;
	font-size: 1em;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	white-space: nowrap;
}
.table th.sort{
	overflow: hidden;
	padding: 0;
	width: 16px;
}
.table th.sort div{
	height: 35px;
	line-height: normal;
	overflow: hidden;
	width: 16px;
}
.table a:link, .table a:visited{
	color: #007AC3; /*808080;*/
	text-decoration: none;
}
.table a:hover{
	text-decoration: underline;
}
.sort a{
	display: block;
	height: 16px;
	overflow: hidden;
	width: 16px;
}
.sort a.up:link, .sort a.up:visited, .sort a.up:hover{ background: url(../img/backend/icons/bullet_arrow_up.png) 0 0 no-repeat; }
.sort a.down:link, .sort a.down:visited, .sort a.down:hover{ background: url(../img/backend/icons/bullet_arrow_down.png) 0 0 no-repeat; }
.table tbody tr.odd{
	background-color: #fff;
}
.table tbody tr.even{
	background-color: #F7F7F7;
}
.table tbody tr.highlight{
	background-color: #FFFFCC;
}
.table tbody tr.hover{
	background-color: #F7F7F7;
}
.table a.icon:link, .table a.icon:visited{
	color: #757777;
	display: block;
	height: 16px;
	line-height: 16px;
	text-indent: 20px;
	text-decoration: none;
}
.table a.icon-edit{
	background: url(../img/backend/icon-edit.png) 0 0 no-repeat;
}
.table a.icon-delete,
.table a.icon-del{
	background: url(../img/backend/icon-delete.png) 0 0 no-repeat;
}
.table td{
	border-right: solid 1px #e5e2e2;
	border-top: solid 1px #e5e2e2;
	border-left: solid 1px #fff;
	border-bottom: solid 1px #fff;
	padding: 5px 7px;
}
.table span.ghost{
	display: block;
	width: 24px;
	height: 24px;
}
/* jqueryui fix */
.ui-widget {
	font-family: inherit;
	font-size: inherit;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: inherit;
	font-size: inherit;
}
img.ui-datepicker-trigger {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	padding: 10px 0;
	overflow: hidden;
}
#content div.ui-tabs{
	padding: 0;
}
#content div.ui-widget-content{
	background: none;
	border: none;
}
.ui-tabs .ui-tabs-nav li a{
	padding: 7px 8px;
	float: left;
}
/* Errors */
.notice-box{
	margin: 0 0 10px 0;
	overflow: hidden;
	width: 742px;
}
.notice-top{
	background: url(../img/backend/notice-top.png) 0 0 no-repeat;
	height: 2px;
	overflow: hidden;
}
.notice-middle{
	background: url(../img/backend/notice-middle.png) 0 0 repeat-y;
	overflow: hidden;
	padding: 10px;
	position: relative;
}
.notice-bottom{
	background: url(../img/backend/notice-bottom.png) 0 0 no-repeat;
	height: 5px;
	overflow: hidden;
}
.notice-middle .notice-close{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	right: 4px;
	background: url(../img/backend/closeGray.png) 0 0 no-repeat;
}
.notice-middle .notice-info{
	background: url(../img/backend/icon-info.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 32px;
	margin: 0 10px 0 0;
	width: 32px;
}
/* status */
.label-status{
	padding: 2px 4px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
}
.user-role-admin{background-color: #6EB738; color: #fff; text-shadow: 1px 1px 1px #3E6820;}
.user-role-owner{background-color: #006699; color: #fff; text-shadow: 1px 1px 1px #092B90;}
.user-role-editor{background-color: #CC6633; color: #fff; text-shadow: 1px 1px 1px #996600;}
.order-status-pending{background-color: #FF9900; color: #000; text-shadow: 1px 1px 1px #fff;}
.order-status-confirmed{background-color: #2A8000; color: #fff; text-shadow: 1px 1px 1px #999;}
.order-status-cancelled{background-color: #B3B3B3; color: #fff; text-shadow: 1px 1px 1px #333;}
.order-type-pickup{background-color: #996100; color: #fff; text-shadow: 1px 1px 1px #999;}
.order-type-delivery{background-color: #990052; color: #fff; text-shadow: 1px 1px 1px #333;}
.is_featured-1{background-color: #FF9900; color: #000; text-shadow: 1px 1px 1px #fff;}
.is_featured-0{background-color: #B3B3B3; color: #fff; text-shadow: 1px 1px 1px #333;}

.booking-icon{
	text-indent: 27px;
	display: block;
	line-height: 20px;
}
/* paginator */
.paginator{
	overflow: hidden;
	margin: 10px 0 0 0;
}
.paginator li{
	display: inline-block;
}
.paginator li a:link, .paginator li a:visited{
	background-color: #CCCCCC;
	color: #000;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	padding: 1px 4px;
	border-radius: 2px;
	text-decoration: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
}
.paginator li a:hover{
	background-color: #EAEAEA;
}
.paginator li a.focus{
	background-color: #072B4F;
	color: #fff;
}
/* fieldset */
.fieldset{
	margin: 0 0 10px;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
}
.fieldset legend{
	background-color: #003366;
	color: #fff;
	padding: 2px 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 250px;
}
/* Colors */
.white{background-color: #fff; border: solid 1px #ccc; color: #000 !important}
.sky{background-color: #EAFBFB; border: solid 1px #ccc;}
.light{background-color: #f5f5f5; border: solid 1px #ccc;}

.gallery-item{
	background-color: #fdfdfd;
	float: left;
	width: 100px;
	height: 140px;
	margin: 0 5px 5px 0;
	text-align: center;
}
.gallery-image{
	cursor: move;
	margin: 0 !important;
}
.gallery-image a.image{
	cursor: move;
}
.gallery-image img{
	border: solid 1px #ccc;
	padding: 1px;
	margin: 7px 0 0 0;
}
#sortable{
	overflow: hidden;
	width: 740px;
}
.stock-image{
	display: block;
	float: left;
	margin: 0 5px 5px 0;
}
.stock-image img,
.in-stock{
	padding: 1px;
	border: solid 1px #ccc;
}
.stock-image img.current{
	border: solid 1px #003399;
}

.ico{
	display: block;
	height: 16px;
	width: 16px;
}
.ico-add2{background: url(../img/backend/icon-add2.png) 0 0 no-repeat;}
.ico-delete2{background: url(../img/backend/icon-delete2.png) 0 0 no-repeat;}

.attr abbr{
	font-weight: bold;
}
.attr, .attr_item{
	float: left;
	margin: 0 5px 0 0;
}
.attr a, .attr input,
.attr_item a, .attr_item input{
	float: left;
}
.attr a,
.attr_item a{
	margin: 7px 0 0 5px;
}
.attr abbr,
.attr_item abbr{
	cursor: pointer;
}

.attrBox{
	border-bottom: solid 1px #ccc;
	line-height: 34px;
	overflow: hidden;
	padding: 5px 0;
}
.img-frame{
	border: solid 1px #ccc;
	padding: 1px;
}
.map_holder{
	width: 710px;
	height: 280px;
	padding: 10px;
	border: solid 1px #ccc;
	margin: 0 0 10px;
}
.map_canvas{
	width: 100%;
	height: 100%;
	display: block;
}
.opBox{
	border-bottom: solid 1px #ccc;
	margin: 0 0 10px;
}

/****************Dashboard***************/
.dashboard_header{
	width: 742px;
	height: 98px;
	background: url(../img/backend/dashboard_header.png) 0 0 no-repeat;
	margin-bottom: 20px;
}
.dashboard_header .item{
	width: 246px;
	height: 98px;
	float: left;
	position: relative;
}
.dashboard_header .item .stat{
	position: absolute;
	top: 22px;
	left: 20px;
	min-height: 44px;
	color: #8D8A8A;
}
.dashboard_header .item .returns{
	background: url(../img/backend/dashboard_returns.png) 0 0 no-repeat;
}
.dashboard_header .item .cars{
	background: url(../img/backend/dashboard_cars.png) 0 0 no-repeat;
}
.dashboard_header .item .reservations{
	background: url(../img/backend/dashboard_reservations.png) 0 0 no-repeat;
}
.dashboard_header .item .stat .info{
	margin-left: 60px;
	font-size: 15px;
}
.dashboard_header .item .stat .info abbr{
	display: block;
	font-size: 31px;
	font-weight: bold;
	color: #515050;
	line-height: 32px;
	text-shadow: 1px 1px 1px #FFFFFF;
}
.dashboard_header .item .stat .smaller{
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
}
.dashboard_header .item .stat .smaller abbr{
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
	float: left;
	margin-right: 6px;
}
.dashboard_box{
	min-height: 300px;
	height: auto !important;
	width: 742px;
}
.dashboard_top{
	background: url(../img/backend/dashboard_top.png) 0 0 no-repeat;
	height: 41px;
}
.dashboard_middle{
	background: url(../img/backend/dashboard_middle.png) 0 0 repeat-y;
	overflow: hidden;
}
.dashboard_bottom{
	background: url(../img/backend/dashboard_bottom.png) 0 0 no-repeat;
	height: 5px;
}
.dashboard_subtop{
	height: 56px;
	width: 242px;
	background: url(../img/backend/dashboard_subtop.png) 0 0 no-repeat;
}
.dashboard_subtop label{
	color: #515050;
	float: left;
	font-size: 16px;
	height: 41px;
	line-height: 41px;
	margin-top: 14px;
	text-indent: 10px;
	width: 242px;
	display: block;
}
.dashboard_column_top{
	color: #515050;
	font-size: 16px;
	line-height: 41px;
	float: left;
	width: 242px;
	height: 41px;
	margin: 0 8px 0 0;
	text-indent: 10px;
}
.dashboard_column_top:last-child,
.dashboard_column_top_last{
	margin: 0;
}
.dashboard_column{
	float: left;
	margin: 0 8px 0 0;
	width: 242px;
	overflow: hidden;
	min-height: 250px;
	height: auto !important;
	height: 1px;
}
.dashboard_column:last-child,
.dashboard_column_last{
	margin: 0;
}
.quick_links{
	overflow: hidden;
	margin: 12px 10px 10px 10px;
}
.quick_links a{
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
}

.dashboard_column .dashboard_list{

	overflow: auto;
	-ms-overflow-x: hidden;
	overflow-x:hidden;
}
.dashboard_column .dashboard_latest_list{
	max-height: 395px;
}
.dashboard_column .dashboard_pickup_list{
	max-height: 170px;
}
.dashboard_column .dashboard_return_list{
	max-height: 170px;
}
.dashboard_row{
	border-bottom: solid 1px #ccc;
	padding: 12px 10px;
	overflow: hidden;
}
.dashboard_row:last-child,
.dashboard_row_last{
	border-bottom: none;
}
.dashboard_row label{
	display: block;
	margin-bottom: 6px;
	color: #8D8A8A;
}
.dashboard_row label span{
	color: #242625;
}
.dashboard_row label span.red{
	color: red !important;
}
.dashboard_subscribe_row{
}
.dashboard_listing_row img{
	display: block;
	float: left;
	margin-right: 12px;
	width: 110px;
}
.dashboard_listing_row .listing-views{
	color: #8B8888;
	font: 11px Verdana,sans-serif;
	margin-bottom: 12px;
	margin-top: 15px;
	overflow: hidden;
	text-align: center;
	width: 92px;
}
.dashboard_listing_row .listing-views label{
	color: #302D2D;
	display: block;
	font: bold 18px Verdana,sans-serif;
}
.dashboard_listing_row .listing-views span{
	color: #8B8888;
	font: 11px Verdana,sans-serif;
	text-align: center;
}
.dashboard_user_row{

}
.dashboard_user_row .name{
	color: #302D2D;
	display: block;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 8px;
}
.dashboard_user_row .email{
	display: block;
	line-height: 20px;
}
.dashboard_user_row .last-login{
	display: block;
	line-height: 20px;
	margin-bottom: 6px;
}
.dashboard_user_row a{
	text-decoration: none;
}

.dashboard_date {
	border-left: 1px solid #E9E8E7;
	color: #8B8888;
	float: right;
	padding: 0 0 0 10px;
	text-align: center;
}

.dashboard_date abbr {
	color: #515050;
	display: block;
	font: bold 14px/28px Verdana,sans-serif;
	text-transform: uppercase;
}

.dashboard_hour {
	color: #515050;
	float: right;
	font: bold 30px Verdana,sans-serif;
	padding: 7px 10px 0;
}

.extra_header{
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-8 */
	border: solid 1px #ddd;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font: bold 14px/30px Arial, sans-serif;
	padding: 10px;
}
.tipsy-listing{
	width: 420px;
}
.tipsy-listing .tipsy-inner{
	width: 400px;
	text-align: left;
	max-width: 400px;
}

.attribute{
	background: url(../img/backend/attributes.png) no-repeat;
	color: #303740;
	display: block;
	font-size: 0.9em;
	height: 23px;
	line-height: 20px;
	padding: 0 5px 0 0;
	text-align: right;
	width: 34px;
}
.attribute-passengers{background-position: 0 0}
.attribute-luggages{background-position: 0 -23px}
.attribute-doors{background-position: 0 -46px}
.attribute-transmission{background-position: 0 -69px}
.attribute-custom {
	background: #c3c3c3;
	border-radius: 3px;
	display: block;
	font-size: 0.9em;
	line-height: 20px;
	text-align: center;
	padding: 0 5px 0 5px;
	margin-right: 1px;
}
.form fieldset{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	position: relative;
}
.form fieldset legend{
	background-color: #003366;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	padding: 2px 5px;
	width: 200px;
}
.form .left-content {
	margin-right: 10px;
	width: 380px;
}
.form .map-canvas {
	height: 120px;
	width: 346px;
	float: right;
	margin-top: -173px;
}

.form .map-canvas-update {
	height: 120px;
	width: 346px;
	float: right;
	margin-top: -225px;
}

.w330 {
	width: 330px;
}
.w44{
	width: 44px;
}
.pj-table td.td_padding{
	padding: 7px 3px;
}

.pj-table td.td_padding_no_border_right{
	padding: 7px 3px;
	border-right: 0px;
}
.t3{
	margin-top: 3px;
}

.t11{
	margin-top: 10px;
}
.w215{
	width: 215px;
}
#boxExtras{
	margin-bottom: 8px;
	width: 100%;
}
#boxMileage{
	margin-left:130px;
	margin-top: 6px;
	display:block;
}
.chzn-choices{
	border-radius: 3px;
	border: 1px solid #C9D1DA !important;
}

.default{
	width: 200px  !important;
}


#boxExtras a.icon:link, .boxExtras a.icon:visited {
	color: #757777;
	display: block;
	height: 16px;
	line-height: 16px;
	text-decoration: none;
	text-indent: 20px;
}

#boxExtras a.icon-delete,
#boxExtras a.icon-del{
	background: url(../img/backend/icon-delete.png) 0 0 no-repeat;
}
.addExtra{
	line-height: 28px;
	/*text-align: right;
	width: 180px;*/
}
#boxExtras select.pj-form-field{
	margin-top: 0px;
}

.pj-form div.extras {
	margin: 10px 0 0;
	overflow: hidden;
	padding: 5px;
}

.pj-image-outer{
	margin-top: 8px;
}
.pj-image-outer label.title{
	display: block;
	float: left;
	padding: 6px 0 0;
	width: 136px;
}
.pj-image-outer .pj-image-inner{
	overflow: hidden;
}
.pj-image-outer .pj-image-inner img{
	display: block;
	margin-right: 12px;
	float: left;
}
.pj-image-outer .pj-image-inner a{
	display: block;
	float: left;
	text-decoration: none;
}

.pj-availability-form{
	margin-bottom: 16px;
	overflow: hidden;
}
.pj-availability-form .pj-filter-block{
	float: left;
	margin-right: 20px;
}
.pj-availability-form .pj-filter-block:last-child{
	margin-right: 0px;
}
.pj-availability-form .pj-filter-from,
.pj-availability-form .pj-filter-to{
	float: left;
	margin-top: 2px;
}
.pj-availability-form .pj-filter-from{
	margin-right: 10px;
}
.pj-availability-form label{
	display: block;
	float: left;
	margin-right: 3px;
	line-height: 32px;
	font-size: 13px;
}
.pj-availability-form .ui-multiselect{
	width: 188px !important;
	padding: 5px 0 5px 4px !important;
}
.ui-multiselect-checkboxes label input{
	margin-right: 3px !important;
}
.pj-avail-legend{
	overflow: hidden;
	margin-bottom: 10px;
}
.pj-avail-legend div{
	float: left;
	margin-right: 12px;
}
.pj-avail-legend div:last-child{
	margin-right: 0px;
}
.pj-avail-legend div abbr{
	display: block;
	height: 20px;
	width: 20px;
	margin-right: 5px;
	float: left;
}
.pj-avail-legend div abbr.confirmed{
	background-color: #8bc96f;
}
.pj-avail-legend div abbr.pending{
	background-color: #ffce42;
}
.pj-avail-legend div abbr.pending-over{
	background-color: #FFFF00;
}
.pj-avail-legend div label{
	display: block;
	float: left;
	line-height: 20px;
	color: #21201F;
}

.pj-availability-content{
	overflow: hidden;
}
.pj-availability-content table{
	border-collapse: collapse;
	border-spacing: 0;
}
.pj-availability-content table.display th,
.pj-availability-content table.display td {
	border: 1px solid #CCCCCC;
	padding-left: 10px;
	padding-right: 10px;
}
.pj-availability-content .pj-date-column table.display td{
	color: #21201f;
	font-size: 13px;
}
.pj-availability-content .pj-car-column table.display td{
	padding-right: 0px;
	padding-left: 0px;
}
.pj-availability-content .pj-date-column table.display td,
.pj-availability-content .pj-date-column table.display th{
	border-right: none;
}
.pj-availability-content .pj-date-column table.display th{
	background-color: #f4f4f4;
	color: #acacab;
	font-weight: bold;
	font-size: 14px;
}
.pj-availability-content .pj-car-column table.display th{
	color: #acacab;
	font-size: 14px;
	background-color: #f4f4f4;
}
.pj-availability-content .pj-car-column table.display th a{
	color: #369bcf;
}
.pj-date-column{
	margin-top: 24px;
	border-right: 1px solid #CCCCCC;
	float: left;
	overflow: hidden;
}
.pj-date-column table th,.pj-date-column table td {
	width: 80px;
	border-right: none;
}
.pj-date-column table td{
	color: #474646;
	font-size: 12px;
}
.pj-car-column table th.first-col, .pj-car-column table td.first-col {
	border-left: none;
}
.pj-car-column table td{
	color: #827f7f;
}
.pj-car-column table th .break{
	height: 8px;
}
table#compare_table tr {

}

#compare_table {
	margin-bottom: 4px;
}

.wrapper1,.wrapper2 {
	overflow-x: auto;
	-ms-overflow-y: hidden;
	overflow-y:hidden;
}

.wrapper1 {
	height: 17px;
	margin-bottom: 7px;
}
.wrapper2{
	margin-top: 4px;
}
.div1-compare{
	height: 20px;
}

.div2-compare{
	overflow: auto;
}

.pj-booking-block{
	overflow: hidden;
	margin-bottom: 1px;
	height: 100%;
	width: 100%;
}
#compare_table td .pj-booking-block:last-child{
	margin-bottom: 0px;
}
.pj-booking-block a{
	display: block;
	margin-left: 10px;
	margin-top: 10px;
	color: #185fa8;
	font-size: 14px;
}
.pj-booking-block label{
	color: #696561;
	display: block;
	margin-left: 10px;
	line-height: 18px;
}
.pj-booking-block label.pj-from{
	margin-bottom: 10px;
}
.pj-booking-block label.pj-dropoff{
	margin-top: 10px;
}
.pj-booking-block label span{
	color: #1c1916;
	font-weight: bold;
}
.pj-booking-pending{
	background-color: #ffce42;
}
.pj-booking-pending-over{
	background-color: #FFFF00;
}
.pj-booking-confirmed{
	background-color: #8bc96f;
}
.pj-availability-outer{
	position: relative;
	min-height: 50px;
}
.pj_availability_loader{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: url("../img/backend/pj-preloader.gif") no-repeat scroll center center rgba(153, 153, 153, 0.3);
	left: 0;
	position: absolute;
	top: 0px;
}
.pj-availability-content .pj-car-column table.display td.pj-td-pending{
	background-color: #ffce42;
}
.pj-availability-content .pj-car-column table.display td.pj-td-pending-over{
	background-color: #FFFF00;
}
.pj-availability-content .pj-car-column table.display td.pj-td-confirmed{
	background-color: #8bc96f;
}
#lblNoExtra{
	display: none;
}
.tab1-booking em{
	margin-left: 110px;
}
.pj-extra-item{
	display: block;
	margin-right: 3px !important;
}
.pj-extra-price{
	margin-left: 4px;
	vertical-align: middle;
	display: table-cell;
}
.tab1-booking,
.tab1-type{
	position: relative;
}
#pj_type_loader,
#pj_price_loader{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: url("../img/backend/pj-preloader.gif") no-repeat scroll center center rgba(153, 153, 153, 0.3);
	left: 0;
	position: absolute;
	top: 5px;
}
.pj-status-collected, .pj-status-Collected {
	background: url("../img/backend/pj-active.png") no-repeat scroll 64px 3px #FFFFFF;
}
.pj-status-completed, .pj-status-Completed {
	background: url("../img/backend/pj-active.png") no-repeat scroll 67px 3px #FFFFFF;
	width: 80px !important;
}
.cr-price-detail{
	display: block;
	padding-left: 110px;
}
p.cr-line{
	display: block;
	height: 1px;
	background-color: #000000;
	padding: 0px;
}
#tblPrices em,
#tblPayment em{
	margin: 0px !important;
}
#tblPayment em label.err{
	display: block !important;
}
input.pj-form-field.err{
	border-color: #b20000;
}

.pj-loader-outer{
	position: relative;
}
.pj-loader{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: url("../img/backend/pj-preloader.gif") no-repeat scroll center center rgba(153, 153, 153, 0.3);
	left: 0;
	position: absolute;
	top: 0px;
}

.theme-holder{
	padding-top: 15px;
	overflow: hidden;
}
.theme-holder .theme-box-outer{
	width: 19.59999%;
	margin-bottom: 26px;
	display: inline-block;
	vertical-align: top;
}
.theme-holder .theme-box{
	margin-left: 10px;
	overflow: hidden;
}
.theme-holder .theme-box .theme-image{
	display: block;
	width: 120px;
	height: 120px;
	border: 2px solid #e9e9e9;
	position: relative;
	margin-bottom: 8px;
}
.theme-holder .theme-box .theme-image.active{
	border: 2px solid #b2ca80;
}
.theme-holder .theme-box .theme-image span{
	display: none;
	position: absolute;
	width: 24px;
	height: 27px;
	left: 0px;
	bottom: 0px;
	background: url("../img/backend/tick.png") no-repeat;
}
.theme-holder .theme-box .theme-image.active span{
	display: block;
}
.theme-holder .theme-box .theme-image img{
	display: block;
}
.theme-holder .theme-box label{
	display: block;
	color: #68add6;
	text-align: center;
	margin-bottom: 8px;
	width: 120px;
}
.theme-holder .theme-box label.inused{
	margin-bottom: 0px;
	color: #595a5c;
	margin-top: 15px;
	font-weight: bold;
}
.checkbox-tip{
	margin-top: -4px;
}
.tsDayOff{
	display: none;
}
.pj-timepicker.err{
	border: 1px solid #cc0000;
}

/* Infractions */
.inspection-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
	margin-top: 20px;
	/*max-width: 320px;*/
	/*margin: 0 auto;*/
}

/*.inspection-image {*/
/*	position: relative;*/
/*	flex: 0 1 280px;*/
/*}*/

.inspection-description {
	display: flex;
	align-items: center;
	flex: 2;
	padding: 0 15px;
}

.inspection-description-right {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0 0 0 20px !important;
	border-radius: 10% !important;
	float: right;
}
.inspection-description span {
	display: inline-block;
	text-align: center;
	line-height: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 20px;
	color: #fff;
}
.inspection-description ul {
	flex: 1;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.inspection-description li {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.inspection-description li:last-child {
	margin-bottom: 0;
}
.inspection-description__auto {
	display: flex;
	align-items: center;
	width: 100%;
	font-weight: 900;
}
.inspection-description__auto p {
	margin-left: auto;
	margin-bottom: 0;
}
img.inspection {
	/*position: relative;*/
	display: block;
	width: 280px;
	max-width: 100%;
}

.inspection-schema {
	position:relative;
}

.inspection-image img {
	border: 1px solid #ccc;
}
.inspection-gauge-about h6{
	font-weight: 900;
	font-size: 14px;
	margin-bottom: 5px;
}
.inspection-gauges {
	display: flex;
	margin-top: 24px;
	/*flex-direction: column;*/
	/*align-items: center;*/
	justify-content: space-around;
	flex: 1;
}

.inspection-gauge {
	margin-top: 0px;
	/*border-bottom: 1px solid #ccc;*/
}
.inspection-gauge input, .inspection-gauge  button {
	display: none !important;
}
.inspection-gauge:first-child {
	margin-top: 0;
}

.inspection-gauge button {
	display: block;
	margin: 15px auto 0 auto;
}

.infractions-results {
	margin-top: 40px;
}

.infractions-results button {
	display: block;
	margin: 0 auto;
	border-radius: 3px;
	border: solid 1px #c9cfd4;
	color: #6c6a6a;
	cursor: pointer;
	font: normal 11px/18px Verdana, sans-serif;
	padding: 4px 15px;
	position: relative;
}
.infractions-results .infraction-action {
	/*font-size: 20px;*/
	/*padding: 4px 8px;*/

	/*margin: 0 auto;*/
}

.inspection-td-image button, .inspection-td-image input {
	width: 100%;
	box-sizing: border-box;
}
.inspection-td-image button {
	margin-top: 5px;
}
.infraction-action.infraction-delete, .infraction-action.infraction-edit {
	font-size: 20px;
	padding: 4px 8px;

	margin: 0 auto;
}
.infractions-results .infraction-action svg {
	background: transparent;
	width: 18px;
	height: 18px;
	fill: #030303;
}

.infractions-results h6 {
	color: #333;
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 15px;
}

.infraction-popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	visibility: hidden;
}
.infraction-popup-content {
	background: #fff;
	padding: 45px 50px;
	border-radius: 10px;
}

.infraction-popup-content label {
	font-size: 14px;
	color: #333;
	font-weight: 900;
	display: inline-block;
	margin-bottom: 5px;
	/*margin-bottom: 15px;*/
}

.infraction-popup-content .form-field {
	margin-bottom: 15px;
}


.infraction-popup input, textarea {
	display: block;
	width: 100%;
	max-width: 350px;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	box-sizing: border-box;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.infraction-popup input[type=file] {
	/*margin: 15px 0;*/
}
.infraction-popup textarea {

	/*margin-top: 10px;*/
	height: auto;
	resize: none;
}
.infraction-popup.active .infraction-popup__close {
	opacity: 1;
}
.infraction-popup__close {
	position: fixed;
	right: 40px;
	border: none;
	cursor: pointer;
	background: transparent;
	top: 30px;
	color: #fff;
	font-size: 40px;
	opacity: 0;
}
.infraction-popup__close:focus {
	outline: none;
}
.infractions-results img {
	display: block;
	margin: 0 auto;
	max-width: 140px;
}

.custom-btn {
	display: inline-block;
	font-weight: 400;

	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.h-column {
	float: left;
	/*width: 33.33333%;*/
	padding: 10px;
	/*background: #ccc;*/
	/*height: 300px;*/
}
.h-column:nth-child(2) {
	width: 20.0%;
}
.h-column:nth-child(2) .inspection-description ul {
	margin: 0;
	padding: 0;
}
.h-column:nth-child(3) {
	width: 36.0%;
}
.h-row::after {
	content: '';
	display: table;
	clear: both;
}

#infraction-popup-submit {

}
.infraction-popup input::placeholder, .infraction-popup textarea::placeholder {
	color: #333;
	opacity: .7;
}



.infraction-popup.active {
	opacity: 1;
	visibility: visible;
}

.infraction {
	position: absolute;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 20px;
	height: 20px;
	margin-left: -10px;
	margin-top: -10px;
	color: #fff;
	border-radius: 50%;
}

.infraction.return {
	border-radius: 10%;
}

.renovated::before, .renovated::after {
	position: absolute;
	content: '';
	top: 8px;
	left: 0;
	width: 100%;
	height: 2px;
	background: red;
}
.renovated::after {

	transform: rotate(45deg);

}
.renovated::before {
	transform: rotate(-45deg);

}
.fix-width .chzn-container {
	width: 100% !important;
}
.scratch {
	background: #F8AB09;
}
.dent {
	background: #F4010B;
}
.chip {
	background: #3CC114;
}

.scuff {
	background: #ED4FFF;
}

.other {
	background: #2775C1;
}
.renovated {
	position: relative;
	background: #1a1004;
}
/* Infractions */

.ui-dialog-titlebar {
	display: flex;
}

.ui-dialog {
	position: relative;
	z-index: 999;
}

body:not(.mobile) #content .rent-customer-details.rent-customer-details--modern .title {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 900;
	display: block;
	float: none;
	width: 100%;
}
body:not(.mobile) .btnClearCustomer {
	float: right;
}

body:not(.mobile) #content .rent-customer-details.rent-customer-details--modern em {
	margin: 8px 0 0 0;
}
body:not(.mobile) #content .rent-customer-details.rent-customer-details--modern .pj-form-field-custom {
	display: flex;
}
body:not(.mobile) #content .rent-customer-details.rent-customer-details--modern .inline_block {
	width: 100%;
}

body:not(.mobile) #content .rent-customer-details.rent-customer-details--modern input[type=text] {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 14px;
}

.mail-top label.mail-top-title {
	width: 100px;
	padding: 0 0 0 180px;
}

@media screen and (max-width: 800px) {
	.inspection-description li {
		/*display: flex;*/
		/*flex-direction: column;*/
		align-items: center;
		justify-content: center;
	}
	.inspection-description span {
		margin-right: 20px;
		margin-bottom: 8px;
	}
	.mail-top {
		margin-top: 2rem;
		/*margin-left: -180px;*/
		display: grid;
		/*row-gap: 2rem;*/
		grid-template-columns: auto auto auto 1fr;
	}
	.mail-top label.mail-top-title {
		width: unset;
		padding: unset;
	}
	.width-unset {
		width: unset !important;
	}
}


@media screen and (max-width: 600px) {
	/*.mail-top {*/
	/*	margin-left: 0px;*/
	/*}*/
}

.filter-options-list tr {
	height: 55px;
}


/* custom datagrid button (more in pj-table.css) */
.pj-table .pj-table-icon-print,
.pj-table .pj-table-icon-download {
	display: inline-block;
	margin: 0 4px 0 0;
	width: 23px;
	height: 24px;

	background-position: 50% 50%, 0 top;
	background-repeat: no-repeat;
}

/* TODO fix hovered */
.pj-table .pj-table-icon-print:hover,
.pj-table .pj-table-icon-download:hover {
	background-position: 50% 50%, 0 bottom;
}

.pj-table .pj-table-icon-print {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='22px' width='21px'><text x='2' y='20' fill='grey' font-size='20'>🖶</text></svg>"),
	url("/core/framework/libs/pj/img/pj-icon-box.png");
}

.pj-table .pj-table-icon-download {
	background: url("../img/icon-pdf.svg"), url("/core/framework/libs/pj/img/pj-icon-box.png");
	background-size: 15px 15px, 100% 100%;
	background-position: 50% 50%, 0 top;
	background-repeat: no-repeat;
}

/* available cars custom checkbox */
.crCheckbox input {
	display: none;
}

.crCheckbox label {
	display: block;
	width: 15px;
	height: 15px;

	border:1px solid white;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}

.crCheckbox input:checked + label {
	background: darkorange;
}

div.crCheckbox {
	border:2px solid grey;
	width: 17px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}

div.crCheckbox:has(> input:checked) {
	border:2px solid darkorange;
}

#payment-amount-container {
	display: inline-block;
	position: relative;
	font: 12px arial;
}

#payment-amount {
	font: inherit;
}

#currency-suffix {
	position: absolute;
	left: 0;
	top: 3px;
	padding-left: 5px;
	font: inherit;
}

.stripe-cvc {
	background-image: url(app/web/img/calendar.png);
	background-color: rgba(255,255,255,0.6);
	background-position: 10px;
	background-repeat: no-repeat;
	background-blend-mode: lighten;
	background-size: 16px;
	margin-left: 10px;
}