@CHARSET "UTF-8";
.crContainer{
	color: #3e3f41;
	font: normal 12px Verdana, Arial, sans-serif;
	overflow: hidden;
}
.crContainer p, .crContainer ul{margin: 0; padding: 0}
.crContainer a{
	color: #569FD6;
	font-size: 12px;
	font-weight: normal;
	text-decoration:none;
}
.crDatepickerIcon{
	background: url(../img/frontend/calendar.png) 0 0 no-repeat;
	border: none;
	float: left;
	outline: none;
	display: block;
	height: 24px;
	margin: 3px 2px 0;
	width: 25px;
}
.crDate{
	float: left;
	background: url(../img/frontend/calendar.png) no-repeat scroll 5% center transparent;
}
.crSelectReturn{
	width: 61% !important;
}
.crBtn{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	padding: 8px 15px;
}
.crPriceBtn{
	text-align:center;
	color: #909092;
}
.crPriceBtn span{
	display: block;
	margin-bottom: 5px;
}
.crPriceBtn a{
	display: block;
}
.crExtraQty{
	float:left;
	line-height: 35px;
}
.crBtnDefault {
	background-color: #f2ad2e;
    border-radius: 6px 6px 6px 6px;
	border:1px solid #e6b03c;
	display:inline-block;
	color:#fceffc;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:9px 45px;
	text-decoration:none;
}.crBtnDefault:hover {
    border: 1px solid #eba21a;
	background-color:#eba21a;
}.crBtnDefault:visited {
	position:relative;
	top:1px;
	color:#fceffc !important;
}.crBtnDefault:active {
	position:relative;
	top:1px;
	color:#fceffc;
}
.crBtnDefault2 {
	background-color: #f2ad2e;
    border-radius: 6px 6px 6px 6px;
	border:1px solid #e6b03c;
	display:inline-block;
	color:#fceffc;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
}.crBtnDefault2:hover {
    border: 1px solid #eba21a;
    border-radius: 6px 6px 6px 6px;
	background-color:#eba21a;
}.crBtnDefault2:visited {
	position:relative;
	top:1px;
	color:#fceffc !important;
}.crBtnDefault2:active {
	position:relative;
	top:1px;
	color:#fceffc;
}
.crBtnDisableGrey{
	background-color: #C7C7C7;
    border: 1px solid #BCBCBC;
    cursor: default;
}
.crBtnDisableGrey:hover{
	cursor: default;
	background-color: #C7C7C7;
    border: 1px solid #BCBCBC;
}
.cr_same_location{
	margin-top: 25px !important;
}
#cr_same_location{
	margin: 0px;
	padding: 0px;
}
.crQuoteButton{
	margin-top: -40px !important;
}
.crBtnBack {
	background-color: #c7c7c7;
    border-radius: 6px 6px 6px 6px;
	border:1px solid #bcbcbc;
	display:inline-block;
	color:#fceffc;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:9px 45px;
	text-decoration:none;
}.crBtnBack:hover {
    border: 1px solid #bcbcbc;
    border-radius: 6px 6px 6px 6px;
	background-color:#b9b8b8;
}.crBtnBack:visited {
	position:relative;
	top:1px;
	color:#fceffc !important;
}.crBtnBack:active {
	position:relative;
	top:1px;
	color:#fceffc;
}
.crBtnAdd{
	background: url(../img/frontend/btn_add.png) 10% 45% no-repeat;
	color: #569FD6;
	width: 100px;
	border: 1px solid #B8B9BB;
	background-color: #FDFDFD;
	
}
.crBtnRemove{
	background: url(../img/frontend/btn_remove.png) 10% 45% no-repeat;
	color: #569FD6;
	width: 100px;
	border: 1px solid #B8B9BB;
	padding-left: 40px;
	background-color: #FDFDFD;
}
.crLocale{
	overflow: hidden;
}
.crLocaleMenu{
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	margin: 0;
}
.crLocaleMenu li{
	float: left;
	margin: 0;
	width: 38px;
	height: 37px;
}
.crLocaleMenu li a{
	display: inline-block;
	width: 38px;
	height: 37px;
	background-color: transparent;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	text-decoration: none;
	background: url(../img/frontend/locale_bg.png) 0 0 no-repeat;
}
.crLocaleMenu li a img{
	border: none;
	position: absolute;
	top: 12px;
	left: 12px;
}
.crLocaleMenu li a:hover{
	background-position: 0 -37px;
}
.crLocaleMenu li a:active, .crLocaleMenu li a:focus, .crLocaleMenu li a.crLocaleFocus{
	background-position: 0 -37px;
}
ul.crBreadcrumbs{
	list-style: none;
	margin: 0 0 0 0;
	overflow: hidden;
}
ul.crBreadcrumbs li{
	display: inline;
}
.crBreadcrumbs{
	width: 100%;
	height: 111px;
	background-color: #0e62a2
}
.crBreadcrumbsTitle {
	padding-top:25px;
	position: relative;
}
.crBreadcrumbsTitle a:link, .crBreadcrumbsTitle a:visited, .crBreadcrumbsTitle a:active{
	color: #d7dee6;
	cursor: pointer;
	text-decoration: none;
	display: block;
	float: left;
	font-size: 13px;
	position: relative;
	height: 31px;
	line-height: 31px;
	width: 20%;
	background-position: 0 5px;
	font-weight: bold;
}
.crBreadcrumbsTitle a.crBreadcrumbsFinal{
	width: 19%;
}
.progress-wrap ._ps {
    background: url(../img/frontend/breadcrumbs.png) 0 0 no-repeat;
    height: 27px;
    position: absolute;
    top: 0;
    width: 37px;
    z-index: 3;
}
.progress-wrap {
	position: relative;
	margin-top: 28px;
}
.progress-wrap .focus {
    background-position: 0 -27px;
    left: 0;
}
.progress-wrap ._ps1 {
    left: 7%;
}
.progress-wrap ._ps1.passed {
    background-position: 0 -55px !important;
	left: 7%;
	cursor: pointer;
}
.progress-wrap ._ps2 {
    background-position: 0 0px;
    left: 30%;
}
.progress-wrap ._ps2.focus {
    background-position: 0 -27px !important;
    left: 30%;
    cursor: pointer;
}
.progress-wrap ._ps2.passed {
     background-position: 0 -55px !important;
	left: 30%;
	cursor: pointer;
}
.progress-wrap ._ps3 {
    background-position: 0 0px;
    left: 49%;
}
.progress-wrap ._ps3.focus {
    background-position: 0 -27px !important;
    left: 49%;
    cursor: pointer;
}
.progress-wrap ._ps3.passed {
    background-position: 0 -55px !important;
	left: 49%;
	cursor: pointer;
}
.progress-wrap ._ps4 {
    background-position: 0 0px;
    left: 70%;
}
.progress-wrap ._ps4.focus {
    background-position: 0 -27px !important;
    left: 70%;
    cursor: pointer;
}
.progress-wrap ._ps4.passed {
	background-position: 0 -55px !important;
	left: 70%;
	cursor: pointer;
}
.progress-wrap ._ps5 {
    background-position: 0 0px;
    left: 88%;
}
.progress-wrap ._ps5.focus {
    background-position: 0 -27px !important;
    left: 88%;
    cursor: pointer;
}
.progress-wrap ._ps5.passed {
	background-position: 0 -55px !important;
	left: 88%;
	cursor: pointer;
}
.progress-bar {
    background: url(../img/frontend/progress.png) repeat-x scroll 0 0 transparent;
    height: 19px;
    left: 9%;
    position: absolute;
    top: 11px;
    width: 80%;
}
.crBreadcrumbsIcon a:link, .crBreadcrumbsIcon a:visited, .crBreadcrumbsIcon a:active{
	background: url(../img/frontend/breadcrumbs.png) 0 0 no-repeat;
	cursor: pointer;
	text-decoration: none;
	display: block;
	float: left;
	position: relative;
	height: 31px;
	line-height: 34px;
	text-indent: 25px;
	width: 25%;
	background-position: 0 5px;
	font-weight: bold;
}
.crBreadcrumbsTitle a.focus{
	color: #fff;
}
.crBreadcrumbs span{
	position: absolute;
	top: 0;
	left: 13px;	
	text-indent: 0;
}
.crBreadcrumbs a span{
	color: #676d6d;
}
.crBreadcrumbs a.focus span{
	color: #FFFFFF;
}
.crSort{
}
.crUp{
	background: url(../img/frontend/arrow_up.png) center center no-repeat;
}
.crDown{
	background: url(../img/frontend/arrow_down.png) center center no-repeat;
}
.crSortHolder{
	overflow: hidden;
	float:right;
}
.crTypeOuter{
	overflow: hidden;
}
.crType{
	padding: 10px 10px;
	overflow: hidden;
	background-color: #FFFFFF;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	border-bottom: 2px solid #e8e8e8;
	margin-bottom:20px;
}
.crTypeImg{
	border: none;
	float: left;
	margin: 0 8px 0 7px;
}
.crTypeArea{
	float: left;
	width: 42%;
}
.crTypeAreaInner{
	margin-left:8px;
}
.crTypeRight{
	float:right;
	overflow: hidden;
	width: 20%;
}
.crTypeRightSmallScreen{
	display: none;
}
.crTypeTitle{
	color: #6a6666;
	margin: 0 0 10px 0;
	font-size: 13px;
}
.crTypeTitle strong{
	color: #0e0f0f;
	font-weight: bold;	
}
.crTypeDesc{
	color: #6a6666;
	padding: 15px 0 10px;
	line-height: 15px;
	width: 100%; 
	text-align: left;
}
.crTypePrice{
	margin: 0 0 10px 0;
	border: 2px solid #ebebeb;
	overflow: hidden;
	text-align:center;
	background-color: #F6F8F9;
	padding: 6px
}
.crTypePrice p{
	font-weight: bold;
	font-size: 12px;
	margin: 0;
	padding: 4px 0 0 0;
	color: #737476;
}
.crPrice{
	color: #0E0F0F;
	display: block;
	height: 30px;
	line-height: 27px;
	position: relative;
	
}
.crPrice abbr{
	background: #fff url(../img/frontend/price_left.png) 0 0;
	display: block;
	height: 30px;
	left: 0;
	position: absolute;
	top: 0;
	width: 15px;
}
.crPrice strong{
	font-weight: bold;
	font-size: 14px;
}
.crAttributeBar{
	margin: 35px 0 15px 0;
	overflow: hidden;
}
.crAttribute{
	color: #202221;
	display: block;
	font-weight:bold;
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 0 1px 0 0;
	padding: 0 8px 0 0;
	text-align: right;
	width: 50px;
	margin-right: 10px;
}
.crAttribute-passengers{background: url(../img/frontend/passengers.png) no-repeat;background-color: #E3E6EB;}
.crAttribute-luggages{background: url(../img/frontend/luggages.png) no-repeat;background-color: #E3E6EB;}
.crAttribute-doors{background: url(../img/frontend/doors.png) no-repeat;background-color: #E3E6EB;}
.crAttribute-transmission{background: url(../img/frontend/transmission.png) no-repeat;background-color: #E3E6EB;}
.crTypeBootom{
	color: #6a6666;
	line-height: 36px;
	overflow: hidden;
}
.crTypeBootom .crBtn{
	float: right;
}
.crForm{}
.crForm p{
	margin: 0 0 10px 0;
	overflow: hidden;
}
#crFormSearch{
	overflow: hidden;
}
.crLabel{
	font-weight: bold;
	font-size:13px;
	float: left;
}
.crTextDate{ 
	background-color: #FEFEFE;
	border: solid 1px #dddfde;
	padding: 10px 3px 10px 40px;
	color: #7D8286;
	
}
.crPointer{cursor: pointer}
.crText,
.crTextarea{
	background-color: #FEFEFE;
	border: solid 1px #dddfde;
	padding: 9px 6px;
	color: #7D8286;
}
.crSelect{
	background-color: #FEFEFE;
	border: solid 1px #dddfde;
	padding: 9px 6px;
	color: #7D8286;
}
.cr4Select{
	background-color: #FEFEFE;
	border: solid 1px #dddfde;
	padding: 8px 6px;
	color: #7D8286;
}
.crSelectSmall{
	background-color: #FEFEFE;
	border: solid 1px #dddfde;
	padding: 5px 6px;
	color: #7D8286;
}
.crSelectReturn{
	background-color: #FEFEFE;
	border: solid 1px #dddfde;
	padding: 8px 6px;
	color: #7D8286;
}
.crSameLocation{
	padding-top:10px;
	overflow: hidden; 
	display:block; 
	width: 190px; 
	float: left;
}
.w70{
	width:70px;
}
.w200{
	width:200px;
}
.crClear{
	clear: both;
	height: 1px;
}
.cr4CCText{
	width:140px;
}
.cr4CCSelect{
	width: 153px;
}
.crBooking{
	background-color: #ffffff;
	margin: 15px;
	overflow: auto;
}
.crR10{
	margin-right: 10px !important;
}
.crBox{
}
.crBoxTop{
}
.crBoxTopLeft{
	background: #fff url(../img/frontend/f_top_left.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 3px;
}
.crBoxTopRight{
	background: #fff url(../img/frontend/f_top_right.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 3px;
}
.crBoxWTop{
	color: #0E0F0F;
	background-color: #FFFFFF;
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	font-weight: bold;
	margin: 0 2px 0 0;
	padding: 5px 10px;
	position: relative;
	border-bottom: 1px solid #E8E8E8;
}
.crBoxMiddle{
	background-color: #F6F8F9;
	border-top: solid 1px #d0c5c5;
	border-left: solid 1px #d0c5c5;
	border-right: solid 1px #d0c5c5;
	overflow: hidden;
	padding: 25px 20px 6px 20px;
}
.crBoxBottom{
	border-bottom: solid 1px #d0c5c5;
}
.crBoxBottomLeft{
	border-left: solid 1px #d0c5c5;
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 5px;
}
.crBoxBottomRight{
	background: #fff url(../img/frontend/f_bottom_right.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 5px;
}
.crLocation{
	overflow: hidden;
}
.crNote{
	background: url(../img/frontend/map.png) 0 0 no-repeat;
	padding: 0 0 0 25px;
}
.crContainer .crNotice{
	margin: 0 0 15px;
}
.cr3YourBooking{
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	margin-top: 10px;
	margin-right: 20px;
	float: left;
	background-color: #FFFFFF;
}
.cr2ChooseCar{
	margin-top: 0px;
	margin-bottom: 16px;
}
.cr3Extras{
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	margin-top: 10px;
	padding-bottom: 30px;
	overflow:auto;
	background-color: #FFFFFF;
	position: relative;
}
.cr3ExtraLoader{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: url("../img/frontend/pj-preloader.gif") no-repeat scroll center center rgba(153, 153, 153, 0.3);
    left: 0;
    position: absolute;
    top: 0;
}
.cr3Continue{
	text-align: right;
	margin-right: 15px;
	margin-top: 20px;
}
.crExtraPrice{
	overflow:hidden;
}
.crExtra{
	overflow: hidden;
	margin: 3px 15px;	
	padding: 7px;	
	border: 1px solid #DDDFDE;
	background-color: #F6F8F9;
}
.crExtra abbr{
	font-weight: bold;
	float: left;
	margin: 0;
	padding: 0;
}
.crExtra p{
	float: right;
	margin: 0 7px 0 0;
	text-align: right;
	width: 25%;
}
.crExtra strong{
	font-weight: bold;
	line-height: 35px;
}
.crExtra span{}
.crExtra button{
	float: right;
	margin-left: 10px;
}
.crStep{
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	margin: 0 0 10px 0;
	overflow: hidden;
	position: relative;
}
.crStep span{
	background: url(../img/frontend/pad.png) 0 0 no-repeat;
	display: block;
	height: 22px;
	left: 0;
	position: absolute;
	top: 0;
	text-indent: 6px;
	width: 27px;
}
.crStep a{
	float: right;
}
.crExtraLeft{
	float: left;
	width: 49%;
}	
.crExtraRight{
	float: right;
	width: 49%;
}
.crGray{color: #7d7d7f; }
.crRed{color: #ef7a06}
.crALeft{text-align: left}
.crARight{text-align: right}
.crBold{font-weight: bold}
.crFloatLeft{float: left}
.crFloatRight{float: right}
.cr3imgBox{
	float: left;
	width: 30%;
}
.cr3Img{
	border: none;
	height: 48px;
	float: left;
	width: 54px;
}
.cr3Items{
}
.cr3Items p{
	margin: 0 0 5px 0;
}
.cr3Term{
	line-height: 50px;
}
.crW300{width: 300px}
.crW320{width: 320px}
.crW328{width: 328px}
.crLegend{
	overflow: hidden;
	margin: 10px 0 15px;
	border-bottom: 1px solid #E8E8E8;
}
.crLegendText{
	color: #8a8e91;
	font-size: 13px;
	font-weight: bold;
	line-height: 31px;	
	display: block;
	float: left;
	height: 31px;
}
.crLegendLeft{
	background: url(../img/frontend/legend_left.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 31px;
	width: 18px;
}
.crLegendRight{
	background: url(../img/frontend/legend_right.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 31px;
	width: 18px;
}
.crExtraTable{
	border-collapse: collapse;
	margin: 15px 15px 10px 16px;;
	width: 96%; 
}
.crExtraTable td{
	padding: 8px 4px;
}
.crExtraTable .crKey{
	color: #4f5052;
	font-size: 12px;
	text-align: left;
	width: 40%;
}
.crExtraTable .crKey span{
	font-weight: bold;
}
.crExtraTable .crKeyBold{
	font-weight: bold;
	font-size: 13px;
}
.crExtraTable .crRed{
	color: red;
}
.crExtraTable td.crLine{
	height: 1px;
	background-color: #4F5052;
	padding: 0px !important;
}
.crExtraTable .crValue{
	color: #3e3f41;
	font-size: 14px;
	vertical-align: top;
}
label.crError {
    clear: both;
    display: block;
    font-size: 12px;
    margin: 0 0 0 0;
    padding: 5px 0 0;
}
.crError {
    color: #FF0000;
}
input.crError, select.crError, textarea.crError {
    background-color: #FFB3B3;
    border: 1px solid #BE3D21;
    color: #330000;
}
input.crValid, select.crValid, textarea.crValid {
    background-color: #B8DAA9;
    border: 1px solid #6A9D48;
    color: #333300;
}
.crCheckoutForm .crLeft{
	width: 40%;
	padding: 15px 0px 0px 0px;
	display: inline-block;
	vertical-align: top;
}
.crCheckoutForm .crLeft100{
	width: 100%;
	padding: 15px 0px 0px 0px;
	display: inline-block;
	vertical-align: top;
}
.crCheckoutForm .crFormRow{
	overflow: hidden !important;
}
.crTypeAreaSmallScreen{
	display:none;
}
.crTabsSmallScreen{
	display:block;
	float: left;
	margin-bottom: 12px;
}
.extraPriceValue{
	text-align: right;
}
.crFinalStep{
	overflow: hidden;
}
.crFinalStep label{
	display: block;
	margin-bottom: 10px;
}
@media screen and (max-width: 320px) {
	.crContainer{
		color: #3e3f41;
		font: normal 12px Verdana, Arial, sans-serif;
		overflow: hidden;
		width: 100%;
	}
	.crQuoteButton{
		margin-top: 0px !important;
	}
	.crSelectReturn{
		width: 76% !important;
	}
	.crSameLocation{
		padding-top: 0px !important;
		padding-bottom: 10px !important;
	}
	.ojs-holder {
	    left: 10px !important;
	    margin: 0 auto;
	    top: 10% !important;
	    width: 88% !important;
	}
	.crBreadcrumbs{
		width: 100%;
		height: 111px;
		background-color: #0e62a2
	}
	.crLeft{
		width: 100%;
		padding: 15px 0px 0px 0px;
		display: inline-block;
		vertical-align: top;
	}	
	.crLeftReturn{
		float:left;
		width: 100%;
		padding: 15px 0px 0px 0px;
	}	
	.crRight{
		width:80%;
		padding: 20px 0px 0px 0px;
		display: inline-block;
		vertical-align: top;
	}
	.crDate{
		width: 60%;
		margin-bottom: 10px;
	}
	.crHourMin{
		width: 30%;
	}
	.crLocation{
		width: 76%;
	}
	.crTypeContent{
		width: 60%;
		float: left;
	}
	.crTabsSmallScreen{
		display:block;
	}
	.crSortHolder {
	    float: left;
	    overflow: hidden;
	}
	.crTypeImg{
		max-width: 32% !important ;
	}
	.crTypeAvai{
		display:none;
	}
	.crTypeAvaiSmallScreen{
		display:block;
		color: #909092;
		text-align: right;
		width: 263px;
		line-height: 25px;
	}
	.crAttributeBar{
		margin: 15px 0;
	}
	.crType{
		padding: 3px 5px;
	}
	.crTypeArea{
		display:none;
	}
	.crTypeAreaSmallScreen{
		display:block;
	}
	.crTypeRight{
		display:none;
	}
	.crTypePrice{
		/*width: 240px;*/
	}
	.crPriceBtn{
		line-height: 25px !important ;
		text-align: center;
	}
	.crYourBooking{
		width: 30%;
		margin-right: 20px;
	}
	.crAttribute{
		margin: 0 6px 0 0;
		padding: 0 6px 0 0;
	}
	.crExtraName{
		float:left;
		line-height: 35px;
		width: 63%;
		font-weight: bold;
	}
	.crExtraQty{
		float: none !important ;
	}
	.extraPriceValue{
		text-align: left;
	}
	.crExtra{
		margin: 3px 5px;
	}
	.crKey{
		width: 67% !important;
	}
	.crBoxMiddle{
		padding: 25px 13px 6px;
	}
	.crBtnAdd, .crBtnRemove{
		width: 95px;
	}
	.crTypeRightSmallScreen{
		display: block;
		/*width: 240px;*/
	}
	.crTypeTitle{
		margin: 0 0 7px;
	}
	.crYourBooking{
		width: 30%;
		margin-right: 20px;
	}
	.cr3YourBooking{
		width: 100% !important;
	}
	.crTypeOuter{
		width: 100% !important;
	}
	.cr4Text{
		width: 93%;
	}
	.cr4Textarea{
		width: 93%;
	}
	.cr4Select{
		width: 98%;
	}
	.cr4Title{
		width: 50%;
	}
	.crFloatRight, .crFloatLeft{
		text-align: center;
		float: none;
	}
}
@media screen and (min-width: 321px) and (max-width: 479px) {
	.crContainer{
		color: #3e3f41;
		font: normal 12px Verdana, Arial, sans-serif;
		overflow: hidden;
		width: 100%;
	}
	.crQuoteButton{
		margin-top: 0px !important;
	}
	.crSelectReturn{
		width: 76% !important;
	}
	.crSameLocation{
		padding-top: 0px !important;
		padding-bottom: 10px !important;
	}
	.ojs-holder {
	    left: 10px !important;
	    margin: 0 auto;
	    top: 10% !important;
	    width: 90% !important;
	}
	.crBreadcrumbs{
		width: 100%;
		height: 111px;
		background-color: #0e62a2
	}
	.crLeft{
		float:left;
		width: 100%;
		padding: 15px 0px 0px 0px;
	}	
	.crLeftReturn{
		float:left;
		width: 100%;
		padding: 15px 0px 0px 0px;
	}	
	.crRight{
		float:left;
		width:100%;
		padding: 20px 0px 0px 0px;
	}
	.crDate{
		width: 30%;
		margin-bottom: 10px;
	}
	.crHourMin{
		width: 17%;
	}
	.crLocation{
		width: 76%;
	}
	.crTypeContent{
		width: 60%;
		float: left;
	}
	.crTabsSmallScreen{
		display:block;
	}
	.crSortHolder {
	    float: left;	   
	    overflow: hidden;
	}
	.crTypeImg{
		max-width: 32% !important ;
	}
	.crTypeAvai{
		display:none;
	}
	.crTypeAvaiSmallScreen{
		display:block;
		color: #909092;
		text-align: right;
		width: 263px;
		line-height: 25px;
	}
	.crAttributeBar{
		margin: 15px 0;
	}
	.crType{
		padding: 3px 5px;
	}
	.crTypeArea{
		display:none;
	}
	.crTypeAreaSmallScreen{
		display:block;
	}
	.crTypeRight{
		display:none;
	}
	.crTypePrice{
		/*width: 240px;*/
	}
	.crPriceBtn{
		text-align: center;
		line-height: 25px;
	}
	.crYourBooking{
		width: 30%;
		margin-right: 20px;
	}
	.crAttribute{
		margin: 0 6px 0 0;
		padding: 0 6px 0 0;
	}
	.crExtraName{
		float:left;
		line-height: 35px;
		width: 29%;
		font-weight: bold;
	}
	.crTypeRightSmallScreen{
		display: block;
		/*width: 240px;*/
	}
	.crTypeTitle{
		margin: 0 0 7px;
	}
	.cr3YourBooking{
		width: 100% !important;
	}
	.crTypeOuter{
		width: 100%;
	}
	.cr3imgBox{
		float: left;
		width: 60px;
	}
	.crALeft{
		width: 18%;
	}
	.cr4Text{
		width: 90%;
	}
	.cr4Textarea{
		width: 90%;
	}
	.cr4Select{
		width: 94%;
	}
	.cr4Title{
		width: 30%;
	}
}
@media screen and (min-width: 321px) and (max-width: 459px) {
	.crFloatRight, .crFloatLeft{
		text-align: center;
		float: none;
	}
	.crQuoteButton{
		margin-top: 0px !important;
	}
	.crSelectReturn{
		width: 76% !important;
	}
	.crSameLocation{
		padding-top: 0px !important;
		padding-bottom: 10px !important;
	}
	.crExtraName{
		float:left;
		line-height: 35px;
		width: 70%;
		font-weight: bold;
	}
	.crExtraQty{
		float: none !important ;
	}
	.extraPriceValue{
		text-align: left;
	}
	.crExtra{
		margin: 3px 5px;
	}
	.crKey{
		width: 67% !important;
	}
	.crBoxMiddle{
		padding: 25px 13px 6px;
	}
	.crBtnAdd, .crBtnRemove{
		width: 95px;
	}
	.cr4Text{
		width: 90%;
	}
	.cr4Textarea{
		width: 90%;
	}
	.cr4Select{
		width: 94%;
	}
	.cr4Title{
		width: 30%;
	}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	.crQuoteButton{
		margin-top: 0px !important;
	}
	.crContainer{
		color: #3e3f41;
		font: normal 12px Verdana, Arial, sans-serif;
		overflow: hidden;
		width: 100%;
	}
	.crSelectReturn{
		width: 74% !important;
	}
	.crSameLocation{
		padding-top: 0px !important;
		padding-bottom: 10px !important;
	}
	.ojs-holder {
	    left: 10px !important;
	    margin: 0 auto;
	    top: 10% !important;
	    width: 92% !important;
	}
	.crBreadcrumbs{
		width: 100%;
		height: 111px;
		background-color: #0e62a2
	}
	.crLeft{
		width: 80%;
		padding: 15px 0px 0px 0px;
		display: inline-block;
		vertical-align: top;
	}	
	.crLeftReturn{
		float:left;
		width: 80%;
		padding: 15px 0px 0px 0px;
	}	
	.crRight{
		float:left;
		width:80%;
		padding: 20px 0px 0px 0px;
	}
	.crDate{
		width: 30%;
		margin-bottom: 10px;
	}
	.crHourMin{
		width: 17%;
	}
	.crLocation{
		width: 74%;
	}
	.crTypeContent{
		width: 60%;
		float: left;
	}
	.crTypeArea{
		width: 69%;
	}
	.crTypeAreaInner{
		margin-left: 2px;
	}
	.crTypeContent{
		width: 100%;
		float: left;
	}
	.crTypeImg{
		max-width: 25% !important ;
	}
	.crTypeAvai{
		display:none;
	}
	.crTypeAvaiSmallScreen{
		display:block;
		color: #909092;
		text-align: right;
		width: 263px;
		line-height: 25px;
	}
	.crAttributeBar{
		margin: 15px 0;
	}
	.crType{
		padding: 3px 5px;
	}
	.crTypeRight{
		display:none;
	}
	.crTypeRightSmallScreen{
		display: block;	
	}
	.crTypePrice{
		float: left;
		margin-right: 10px;
		width: 28%;
	}
	.crPriceBtn{
		line-height: 25px !important ;
		text-align:left;
	}
	.crYourBooking{
		width: 30%;
		margin-right: 20px;
	}
	.crExtraName{
		float:left;
		line-height: 35px;
		width: 33%;
		font-weight: bold;
	}
	.cr3YourBooking{
		width: 100% !important;
	}
	.crTypeOuter{
		width: 100% !important;
	}
	.cr3imgBox{
		float: left;
		width: 60px;
	}
	.crALeft{
		width: 18%;
	}
	.cr4Text{
		width: 90%;
	}
	.cr4Textarea{
		width: 90%;
	}
	.cr4Select{
		width: 94%;
	}
	.cr4Title{
		width: 30%;
	}
}
@media screen and (min-width: 735px) and (max-width: 767px) {
	.crContainer{
		color: #3e3f41;
		font: normal 12px Verdana, Arial, sans-serif;
		overflow: hidden;
		width: 100%;
	}
	.crBreadcrumbs{
		width: 100%;
		height: 111px;
		background-color: #0e62a2
	}
	.crLeft{
		width: 40%;
		padding: 15px 0px 0px 0px;
		display: inline-block;
		vertical-align: top;
	}	
	.crLeftReturn{
		float:left;
		width: 60%;
		padding: 15px 0px 0px 0px;
	}	
	.crDate{
		width: 40%;
		margin-bottom: 10px;
	}
	.crHourMin{
		width: 17%;
	}
	.crLocation{
		width: 92%;
	}
	.crTypeContent{
		width: 100%;
		float: left;
	}
	.crTypeRight{
		float:right;
		overflow: hidden;
		width: 20%;
	}
	.crExtraName{
		float:left;
		line-height: 35px;
		width: 40%;
		font-weight: bold;
	}
	.cr3YourBooking{
		width: 100% !important;
	}
	.crTypeOuter{
		width: 100%;
	}
}
@media screen and (min-width: 768px) and (max-width: 970px){
	.crContainer .crBtnDefault2{
		width: 100%;
		padding: 8px 0;
		text-align: center;
		font-size: 1.3em;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
	.crContainer{
		color: #3e3f41;
		font: normal 12px Verdana, Arial, sans-serif;
		overflow: hidden;
		width: 100%;
	}
	.ojs-holder {
	    left: 10px !important;
	    margin: 0 auto;
	    top: 10% !important;
	    width: 92% !important;
	}
	.crBreadcrumbs{
		width: 100%;
		height: 111px;
		background-color: #0e62a2
	}
	.crLeft{
		width: 45%;
		padding: 15px 0px 0px 0px;
		display: inline-block;
		vertical-align: top;
	}	
	.crLeftReturn{
		float:left;
		width: 54%;
		padding: 15px 0px 0px 0px;
	}	
	.crRight{
		float:left;
		width:45%;
		padding: 25px 0px 0px 0px;
	}
	.crDate{
		width: 35%;
	}
	.crHourMin{
		width: 17%;
	}
	.crLocation{
		width: 82%;
	}
	.crTypeArea{
		width: 42%;
	}
	.crTypeContent{
		width: 100%;
		float: left;
	}
	.crTypeImg{
		max-width: 25% !important ;
	}
	.crTypeAvai{
		display:none;
	}
	.crTypeAvaiSmallScreen{
		display:block;
		color: #909092;
		text-align: right;
		width: 263px;
	}
	.crAttributeBar{
		margin: 15px 0;
	}
	.crTypeRight{
		float:right;
		overflow: hidden;
		width: 20%;
	}
	.crTypeRightSmallScreen{
		display:none;
	}
	.crYourBooking{
		width: 30%;
		margin-right: 20px;
	}
	.crExtraName{
		float:left;
		line-height: 35px;
		width: 60%;
		font-weight: bold;
	}
	.crBtnDefault2{
		width: 100%;
	}
	.crExtraName{
		width: 40%;
	}
	.cr3YourBooking{
		width: 35% !important;
	}
	.cr4Text{
		width: 90%;
	}
	.cr4Textarea{
		width: 90%;
	}
	.cr4Select{
		width: 94%;
	}
	.cr4Title{
		width: 15%;
	}
}
@media screen and (min-width: 768px) and (max-width: 890px){
	.crLocation{
		width: 84%;
	}
	.cr3YourBooking{
		width: 34% !important;
	}
}
@media screen and (min-width: 1024px) {
	.crSelectReturn{
		width: 60%;
	}
	.crContainer{
		color: #3e3f41;
		font: normal 12px Verdana, Arial, sans-serif;
		overflow: hidden;
		width: 1024px;
	}
	.crBreadcrumbs{
		width: 100%;
		height: 111px;
		background-color: #0e62a2
	}
	.crLeft{
		width: 40%;
		padding: 15px 0px 0px 0px;
		display: inline-block;
		vertical-align: top;
	}	
	.crLeftReturn{
		float:left;
		width: 54%;
		padding: 15px 0px 0px 0px;
	}	
	.crRight{
		float:left;
		width:40%;
		padding: 25px 0px 0px 0px;
	}
	.crDate{
		width: 37%;
	}
	.crHourMin{
		width: 18%;
	}
	.crLocation{
		width: 86%;
	}
	.crTypeArea{
		width: 42%;
	}
	.crTypeContent{
		width: 60%;
		float: left;
	}
	.crTypeAvai{
		float: right;
		padding-top: 15%;
		color: #909092;
	}
	.crTypeAvaiSmallScreen{
		display:none;
	}
	.crTypeRight{
		float:right;
		overflow: hidden;
		width: 19%;
	}
	.crTypeRightSmallScreen{
		display:none;
	}
	.crYourBooking{
		width: 30%;
		margin-right: 20px;
	}
	.crExtraName{
		float:left;
		line-height: 35px;
		width: 25%;
		font-weight: bold;
	}
	.cr4Text{
		width: 90%;
	}
	.cr4Textarea{
		width: 90%;
	}
	.cr4Select{
		width: 94%;
	}
	.cr4Title{
		width: 15%;
	}
}
@media screen and (max-width: 380px) {
	.crBreadcrumbsEl{
		display: none !important; 
	}
	.progress-wrap{
		width: 70%;
		left: 15%;
	}
	.progress-bar{
		width: 83%;
	}
	.MenuSearch {
		width: 80%  !important;
		display: block !important; 
		text-indent: 15px !important; 
	}
	.MenuCars {
		width: 80%  !important;
		left: 3%  !important;
		display: block !important; 
	}
	.MenuExtras {
		width: 100%  !important;
		left: 11%  !important;
		display: block !important; 
	}
	.MenuCheckout {
		width: 100%  !important;
		left: 27%  !important;
		display: block !important; 
	}
	.cr3YourBooking{
		width: 100% !important;
	}
	.crTypeOuter{
		width: 100% !important;
	}
}
@media screen and (min-width: 381px) and (max-width: 630px){
	.crBreadcrumbsEl{
		display: none !important; 
	}
	.progress-wrap{
		width: 80%;
		left: 10%;
	}
	.progress-bar{
		width: 81%;
	}
	.MenuSearch {
		width: 78%  !important;
		display: block !important; 
	}
	.MenuCars {
		width: 78%  !important;
		left: 3%  !important;
		display: block !important; 
	}
	.MenuExtras {
		width: 100%  !important;
		left: 11%  !important;
		display: block !important; 
	}
	.MenuCheckout {
		width: 100%  !important;
		left: 30%  !important;
		display: block !important; 
	}
	.cr3YourBooking{
		width: 100% !important;
	}
	.crTypeOuter{
		width: 100% !important;
	}
}
#cr_hour_from{
	margin-left:4px;
}
#cr_hour_to{
	margin-left:4px;
}
