/* ==========================================================================
	#General
========================================================================== */
#pjWrapper .pjCrColorPrimary { color: #76a73e; }
#pjWrapper .pjCrColorPrimary:hover { color: #9acf5b; }
#pjWrapper .pjCrBgPrimary { background: #76a73e; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjCrBtntDefault,
#pjWrapper .pjCrBtntDefault.disabled { border: 0; border-bottom: 2px solid #76a73e; background: #9acf5b; color: #fff; }
#pjWrapper .pjCrBtntDefault:hover,
#pjWrapper .pjCrBtntDefault.disabled:hover { border-color: #76a73e; background: #76a73e; color: #fff; }

#pjWrapper .pjCrBtnActive,
#pjWrapper .pjCrNav .pjCrBtnActive,
#pjWrapper .pjCrLanguage .pjCrBtnActive { background: #59b174; color: #fff; }
#pjWrapper .pjCrContainer .pjCrBtnPassed { color: #59b174; }

#pjWrapper .pjCrBtnTerms { color: #76a73e; }
#pjWrapper .pjCrBtnTerms:hover { color: #9acf5b; }

#pjWrapper .pjCrBtnLink { color: #76a73e; }
#pjWrapper .pjCrBtnLink:hover,
#pjWrapper .pjCrBtnLink:focus { color: #9acf5b; }

/* ==========================================================================
	#pjCrHeading
========================================================================== */
#pjWrapper .pjCrContainer .pjCrHeading { background: #f8f8f6; }
#pjWrapper .pjCrContainer .pjCrBody { background: #e3e3e1; }

/* ==========================================================================
	#pjCrBtnNav
========================================================================== */
#pjWrapper .pjCrBtnNav { border: 0; border-bottom: 2px solid  #d7dacf; background: #e3e3e1; color: #626260; }
#pjWrapper .pjCrBtnNav:hover { border: 0; border-bottom: 2px solid  #d7dacf; background: #d7dacf; }

/* ==========================================================================
	#Panels
========================================================================== */
#pjWrapper .pjCrContainer .pjCrPanelLeft .panel-heading,
#pjWrapper .pjCrContainer .pjCrPanelRight .panel-heading { background: #fff; }
#pjWrapper .pjCrContainer .panel-title,
#pjWrapper .pjCrContainer .panel-title { color: #5bb172; font-weight: bold; text-transform: uppercase; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjCrContainer p,
#pjWrapper .pjCrContainer .control-label { color: #4c4e4d }
#pjWrapper .pjCrContainer .form-control:focus { border-color: #76a73e; -webkit-box-shadow: 0 0 6px rgba(118, 167, 62, .4); box-shadow: 0 0 6px rgba(118, 167, 62, .4); }

/* ==========================================================================
	#pjCrFormCheckout
========================================================================== */
#pjWrapper .pjCrFormCheckout .panel-heading { background: #f8f8f6; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .panel-title { color: #59b174; font-weight: bold; text-transform: capitalize; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .control-label,
#pjWrapper .pjCrContainer .pjCrFormCheckout p { color: #4c4e4d; font-weight: normal; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .has-error .control-label { color: #a94442; }

/* ==========================================================================
	#pjCrProductExtra
========================================================================== */
#pjWrapper .pjCrProductExtra { color: #626260; }

/* ==========================================================================
	#pjCrDatePicker
========================================================================== */
#pjWrapper .pjCrTimePicker .input-group-addon,
#pjWrapper .pjCrDatePicker .input-group-addon { color: #59b174; }
#pjWrapper .pjCrDatePicker .input-group-addon:hover,
#pjWrapper .pjCrTimePicker .input-group-addon:hover { color: #76a73e; }

#pjWrapper .pjCrDatePicker .form-control,
#pjWrapper .pjCrTimePicker .form-control { background: #fff; }

#pjWrapper .pjCrDatePicker .today:before { border-bottom-color: #59b174; }
#pjWrapper .pjCrDatePicker .prev span,
#pjWrapper .pjCrDatePicker .next span { color: #59b174; }
#pjWrapper .pjCrDatePicker .prev:hover,
#pjWrapper .pjCrDatePicker .next:hover { background: #59b174; }
#pjWrapper .pjCrDatePicker .prev:hover span,
#pjWrapper .pjCrDatePicker .next:hover span { color: #fff; }
#pjWrapper .pjCrDatePicker .picker-switch { color: #2d2d2d; }
#pjWrapper .pjCrDatePicker .picker-switch:hover,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active:hover { background: #59b174; color: #fff; }

#pjWrapper .pjCrTimePicker a { color: #59b174; }
#pjWrapper .pjCrTimePicker a:hover span,
#pjWrapper .pjCrTimePicker td > span:hover { background: #59b174; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary { border-color: #76a73e; background: #9acf5b; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary:hover { border-color: #76a73e; background: #76a73e; color: #fff; }

#pjWrapper .bootstrap-datetimepicker-widget { border-color: #ccc; background: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-bottom-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-top-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #fff; }