/* ==========================================================================
	#General
========================================================================== */
#pjWrapper .pjCrColorPrimary { color: #1ec290; }
#pjWrapper .pjCrColorPrimary:hover { color: #1eaf84; }
#pjWrapper .pjCrBgPrimary { background: #1ec290; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjCrBtntDefault,
#pjWrapper .pjCrBtntDefault.disabled { border-color: #1eaf84; border-width: 2px; background: #1ec290; color: #fff; }
#pjWrapper .pjCrBtntDefault:hover,
#pjWrapper .pjCrBtntDefault.disabled:hover { border-color: #1eaf84; border-width: 2px; background: #1eaf84; color: #fff; }

#pjWrapper .pjCrBtnActive,
#pjWrapper .pjCrNav .pjCrBtnActive,
#pjWrapper .pjCrLanguage .pjCrBtnActive { background: #1ec290; color: #fff; }
#pjWrapper .pjCrContainer .pjCrBtnPassed { color: #569e88; }

#pjWrapper .pjCrBtnTerms { color: #1ec290; }
#pjWrapper .pjCrBtnTerms:hover { color: #1eaf84; }

#pjWrapper .pjCrBtnLink { color: #1ec290; }
#pjWrapper .pjCrBtnLink:hover,
#pjWrapper .pjCrBtnLink:focus { color: #1eaf84; }

/* ==========================================================================
	#pjCrHeading
========================================================================== */
#pjWrapper .pjCrContainer .pjCrHeading,
#pjWrapper .pjCrContainer .pjCrBody { background: #fff; }

/* ==========================================================================
	#pjCrBtnNav
========================================================================== */
#pjWrapper .pjCrBtnNav { border-color: #fff; background: #fff; color: #6b696a; text-transform: uppercase; font-weight: bold; }
#pjWrapper .pjCrBtnNav:hover { border-color: #fff; background: #fff; }

/* ==========================================================================
	#Panels
========================================================================== */
#pjWrapper .pjCrContainer .pjCrPanelLeft .panel-heading,
#pjWrapper .pjCrContainer .pjCrPanelRight .panel-heading { background: #f3f5f4; }
#pjWrapper .pjCrContainer .panel-title,
#pjWrapper .pjCrContainer .panel-title { color: #539e87; font-weight: bold; text-transform: uppercase; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjCrContainer p,
#pjWrapper .pjCrContainer .control-label { color: #4d4f4e }
#pjWrapper .pjCrContainer .form-control:focus { border-color: #1eaf84; -webkit-box-shadow: 0 0 6px rgba(30, 175, 132, .4); box-shadow: 0 0 6px rgba(30, 175, 132, .4); }

/* ==========================================================================
	#pjCrFormCheckout
========================================================================== */
#pjWrapper .pjCrFormCheckout .panel-heading { background: #7d8381; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .panel-title { color: #f0f1ec; font-weight: bold; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .control-label,
#pjWrapper .pjCrContainer .pjCrFormCheckout p { color: #4d4f4e; font-weight: normal; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .has-error .control-label { color: #a94442; }

/* ==========================================================================
	#pjCrProductExtra
========================================================================== */
#pjWrapper .pjCrProductExtra { background: #f3f5f4; color: #898989; }

/* ==========================================================================
	#pjCrDatePicker
========================================================================== */
#pjWrapper .pjCrTimePicker .input-group-addon,
#pjWrapper .pjCrDatePicker .input-group-addon { color: #1eaf84; }
#pjWrapper .pjCrDatePicker .input-group-addon:hover,
#pjWrapper .pjCrTimePicker .input-group-addon:hover { color: #1ec290; }

#pjWrapper .pjCrDatePicker .form-control,
#pjWrapper .pjCrTimePicker .form-control { background: #fff; }

#pjWrapper .pjCrDatePicker .today:before { border-bottom-color: #1eaf84; }
#pjWrapper .pjCrDatePicker .prev span,
#pjWrapper .pjCrDatePicker .next span { color: #1eaf84; }
#pjWrapper .pjCrDatePicker .prev:hover,
#pjWrapper .pjCrDatePicker .next:hover { background: #1eaf84; }
#pjWrapper .pjCrDatePicker .prev:hover span,
#pjWrapper .pjCrDatePicker .next:hover span { color: #fff; }
#pjWrapper .pjCrDatePicker .picker-switch { color: #2d2d2d; }
#pjWrapper .pjCrDatePicker .picker-switch:hover,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active:hover { background: #1eaf84; color: #fff; }

#pjWrapper .pjCrTimePicker a { color: #1eaf84; }
#pjWrapper .pjCrTimePicker a:hover span,
#pjWrapper .pjCrTimePicker td > span:hover { background: #1eaf84; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary { border-color: #1eaf84; background: #1ec290; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary:hover { border-color: #1eaf84; background: #1eaf84; color: #fff; }

#pjWrapper .bootstrap-datetimepicker-widget { border-color: #ccc; background: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-bottom-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-top-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #fff; }