/* ==========================================================================
	#General
========================================================================== */
#pjWrapper .pjCrColorPrimary { color: #1ca76c; }
#pjWrapper .pjCrColorPrimary:hover { color: #12965d; }
#pjWrapper .pjCrBgPrimary { background: #1ca76c; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjCrBtntDefault,
#pjWrapper .pjCrBtntDefault.disabled { border-color: #12965d; background: #1ca76c; color: #fff; font-weight: bold; text-transform: capitalize; }
#pjWrapper .pjCrBtntDefault:hover,
#pjWrapper .pjCrBtntDefault.disabled:hover { border-color: #12965d; background: #12965d; color: #fff; }

#pjWrapper .pjCrBtnActive,
#pjWrapper .pjCrNav .pjCrBtnActive,
#pjWrapper .pjCrLanguage .pjCrBtnActive { background: #1ca76c; color: #fff; }
#pjWrapper .pjCrContainer .pjCrBtnPassed { color: #3e3838; }

#pjWrapper .pjCrBtnTerms { color: #1ca76c; }
#pjWrapper .pjCrBtnTerms:hover { color: #12965d; }

#pjWrapper .pjCrBtnLink { color: #1ca76c; }
#pjWrapper .pjCrBtnLink:hover,
#pjWrapper .pjCrBtnLink:focus { color: #12965d; }

/* ==========================================================================
	#pjCrHeading
========================================================================== */
#pjWrapper .pjCrContainer .pjCrHeading { border-bottom: 0; background: #eef0ef; }
#pjWrapper .pjCrContainer .pjCrBody { background: #eef0ef; }

/* ==========================================================================
	#pjCrBtnNav
========================================================================== */
#pjWrapper .pjCrBtnNav { border-color: #fff; background: #fff; color: #6a6869; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1); box-shadow: 0 1px 3px rgba(0, 0, 0, .1); }
#pjWrapper .pjCrBtnNav:hover { border-color: #fff; background: #fff; }

/* ==========================================================================
	#Panels
========================================================================== */
#pjWrapper .pjCrContainer .pjCrPanelLeft .panel-heading,
#pjWrapper .pjCrContainer .pjCrPanelRight .panel-heading { background: #fff; }
#pjWrapper .pjCrContainer .panel-title,
#pjWrapper .pjCrContainer .panel-title { color: #1ca86b; font-weight: normal; text-transform: uppercase; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjCrContainer p,
#pjWrapper .pjCrContainer .control-label { color: #4c4d4f }
#pjWrapper .pjCrContainer .form-control:focus { border-color: #12965d; -webkit-box-shadow: 0 0 6px rgba(18, 150, 93, .4); box-shadow: 0 0 6px rgba(18, 150, 93, .4); }

/* ==========================================================================
	#pjCrFormCheckout
========================================================================== */
#pjWrapper .pjCrFormCheckout .panel-heading { background: #fff; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .panel-title { color: #1ca76c; font-weight: normal; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .control-label,
#pjWrapper .pjCrContainer .pjCrFormCheckout p { color: #4c4d4f; font-weight: normal; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .has-error .control-label { color: #a94442; }

/* ==========================================================================
	#pjCrProductExtra
========================================================================== */
#pjWrapper .pjCrProductExtra { color: #6a6869; }

/* ==========================================================================
	#pjCrDatePicker
========================================================================== */
#pjWrapper .pjCrTimePicker .input-group-addon,
#pjWrapper .pjCrDatePicker .input-group-addon { color: #1ca76c; }
#pjWrapper .pjCrDatePicker .input-group-addon:hover,
#pjWrapper .pjCrTimePicker .input-group-addon:hover { color: #12965d; }

#pjWrapper .pjCrDatePicker .form-control,
#pjWrapper .pjCrTimePicker .form-control { background: #fff; }

#pjWrapper .pjCrDatePicker .today:before { border-bottom-color: #1ca76c; }
#pjWrapper .pjCrDatePicker .prev span,
#pjWrapper .pjCrDatePicker .next span { color: #1ca76c; }
#pjWrapper .pjCrDatePicker .prev:hover,
#pjWrapper .pjCrDatePicker .next:hover { background: #1ca76c; }
#pjWrapper .pjCrDatePicker .prev:hover span,
#pjWrapper .pjCrDatePicker .next:hover span { color: #fff; }
#pjWrapper .pjCrDatePicker .picker-switch { color: #2d2d2d; }
#pjWrapper .pjCrDatePicker .picker-switch:hover,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active:hover { background: #1ca76c; color: #fff; }

#pjWrapper .pjCrTimePicker a { color: #1ca76c; }
#pjWrapper .pjCrTimePicker a:hover span,
#pjWrapper .pjCrTimePicker td > span:hover { background: #1ca76c; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary { border-color: #12965d; background: #1ca76c; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary:hover { border-color: #12965d; background: #12965d; color: #fff; }

#pjWrapper .bootstrap-datetimepicker-widget { border-color: #ccc; background: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-bottom-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-top-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #fff; }