/* ==========================================================================
	#General
========================================================================== */
#pjWrapper .pjCrColorPrimary { color: #d66e3b; }
#pjWrapper .pjCrColorPrimary:hover { color: #bd5726; }
#pjWrapper .pjCrBgPrimary { background: #d66e3b; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjCrBtntDefault,
#pjWrapper .pjCrBtntDefault.disabled { border-color: #bd5726; background: #d66e3b; color: #fff; }
#pjWrapper .pjCrBtntDefault:hover,
#pjWrapper .pjCrBtntDefault.disabled:hover { border-color: #bd5726; background: #bd5726; color: #fff; }

#pjWrapper .pjCrBtnActive,
#pjWrapper .pjCrNav .pjCrBtnActive,
#pjWrapper .pjCrLanguage .pjCrBtnActive { background: #d76e37; color: #fff; }
#pjWrapper .pjCrContainer .pjCrBtnPassed { color: #584034; }

#pjWrapper .pjCrBtnTerms { color: #d66e3b; }
#pjWrapper .pjCrBtnTerms:hover { color: #bd5726; }

#pjWrapper .pjCrBtnLink { color: #d66e3b; }
#pjWrapper .pjCrBtnLink:hover,
#pjWrapper .pjCrBtnLink:focus { color: #bd5726; }

/* ==========================================================================
	#pjCrHeading
========================================================================== */
#pjWrapper .pjCrContainer .pjCrHeading,
#pjWrapper .pjCrContainer .pjCrBody { background: #f9f8f3; }

/* ==========================================================================
	#pjCrBtnNav
========================================================================== */
#pjWrapper .pjCrBtnNav { border-color: #fff; background: #fff; color: #5c5a5b; -webkit-box-shadow: 0 2px 3px rgba(0 ,0, 0, .1); box-shadow: 0 2px 3px rgba(0 ,0, 0, .1); }
#pjWrapper .pjCrBtnNav:hover { border-color: #fff; background: #fff; }

/* ==========================================================================
	#Panels
========================================================================== */
#pjWrapper .pjCrContainer .pjCrPanelLeft .panel-heading,
#pjWrapper .pjCrContainer .pjCrPanelRight .panel-heading { background: #fff; }
#pjWrapper .pjCrContainer .panel-title { color: #181818; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjCrContainer p,
#pjWrapper .pjCrContainer .control-label { color: #4d4d4d }
#pjWrapper .pjCrContainer .form-control:focus { border-color: #bd5726; -webkit-box-shadow: 0 0 6px rgba(189, 87, 38, .4); box-shadow: 0 0 6px rgba(189, 87, 38, .4); }

/* ==========================================================================
	#pjCrFormCheckout
========================================================================== */
#pjWrapper .pjCrFormCheckout .panel-heading { background: #f9f8f3; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .panel-title { color: #584034; font-weight: bold; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .control-label,
#pjWrapper .pjCrContainer .pjCrFormCheckout p { color: #4d4d4d; font-weight: normal; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .has-error .control-label { color: #a94442; }

/* ==========================================================================
	#pjCrProductExtra
========================================================================== */
#pjWrapper .pjCrProductExtra { color: #6a7579; }

/* ==========================================================================
	#pjCrDatePicker
========================================================================== */
#pjWrapper .pjCrTimePicker .input-group-addon,
#pjWrapper .pjCrDatePicker .input-group-addon { color: #d66e3b; }
#pjWrapper .pjCrDatePicker .input-group-addon:hover,
#pjWrapper .pjCrTimePicker .input-group-addon:hover { color: #584033; }

#pjWrapper .pjCrDatePicker .form-control,
#pjWrapper .pjCrTimePicker .form-control { background: #fff; }

#pjWrapper .pjCrDatePicker .today:before { border-bottom-color: #d66e3b; }
#pjWrapper .pjCrDatePicker .prev span,
#pjWrapper .pjCrDatePicker .next span { color: #d66e3b; }
#pjWrapper .pjCrDatePicker .prev:hover,
#pjWrapper .pjCrDatePicker .next:hover { background: #d66e3b; }
#pjWrapper .pjCrDatePicker .prev:hover span,
#pjWrapper .pjCrDatePicker .next:hover span { color: #fff; }
#pjWrapper .pjCrDatePicker .picker-switch { color: #2d2d2d; }
#pjWrapper .pjCrDatePicker .picker-switch:hover,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active:hover { background: #d66e3b; color: #fff; }

#pjWrapper .pjCrTimePicker a { color: #d66e3b; }
#pjWrapper .pjCrTimePicker a:hover span,
#pjWrapper .pjCrTimePicker td > span:hover { background: #d66e3b; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary { border-color: #bd5726; background: #d66e3b; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary:hover { border-color: #bd5726; background: #bd5726; color: #fff; }

#pjWrapper .bootstrap-datetimepicker-widget { border-color: #ccc; background: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-bottom-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-top-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #fff; }