/* ==========================================================================
	#General
========================================================================== */
#pjWrapper .pjCrColorPrimary { color: #e37d4c; }
#pjWrapper .pjCrColorPrimary:hover { color: #d27530; }
#pjWrapper .pjCrBgPrimary { background: #e37d4c; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjCrBtntDefault,
#pjWrapper .pjCrBtntDefault.disabled { border-color: #d27530; background: #e37d4c; color: #fff; font-weight: bold; }
#pjWrapper .pjCrBtntDefault:hover,
#pjWrapper .pjCrBtntDefault.disabled:hover { border-color: #d27530; background: #d27530; color: #fff; }

#pjWrapper .pjCrBtnActive,
#pjWrapper .pjCrNav .pjCrBtnActive,
#pjWrapper .pjCrLanguage .pjCrBtnActive { background: #f2f2f2; color: #16b4bd; }
#pjWrapper .pjCrContainer .pjCrBtnPassed { color: #e37d4c; }

#pjWrapper .pjCrBtnTerms { color: #e37d4c; }
#pjWrapper .pjCrBtnTerms:hover { color: #d27530; }

#pjWrapper .pjCrBtnLink { color: #e37d4c; }
#pjWrapper .pjCrBtnLink:hover,
#pjWrapper .pjCrBtnLink:focus { color: #d27530; }

/* ==========================================================================
	#pjCrHeading
========================================================================== */
#pjWrapper .pjCrContainer .pjCrHeading,
#pjWrapper .pjCrContainer .pjCrBody { background: #fafafa; }

/* ==========================================================================
	#pjCrBtnNav
========================================================================== */
#pjWrapper .pjCrBtnNav { border-color: #d0dad9; background: #fff; color: #696768; font-weight: bold; text-transform: uppercase; }
#pjWrapper .pjCrBtnNav:hover { border-color: #d0dad9; background: #fff; }

/* ==========================================================================
	#Panels
========================================================================== */
#pjWrapper .pjCrContainer .pjCrPanelLeft .panel-heading,
#pjWrapper .pjCrContainer .pjCrPanelRight .panel-heading { background: #fff; }
#pjWrapper .pjCrContainer .panel-title,
#pjWrapper .pjCrContainer .panel-title { color: #16b4bd; font-weight: bold; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjCrContainer p,
#pjWrapper .pjCrContainer .control-label { color: #3d3938 }
#pjWrapper .pjCrContainer .form-control:focus { border-color: #d27530; -webkit-box-shadow: 0 0 6px rgba(210, 117, 48, .4); box-shadow: 0 0 6px rgba(210, 117, 48, .4); }

/* ==========================================================================
	#pjCrFormCheckout
========================================================================== */
#pjWrapper .pjCrFormCheckout .panel-heading { background: #fafafa; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .panel-title { color: #1ab3c1; font-weight: normal; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .control-label,
#pjWrapper .pjCrContainer .pjCrFormCheckout p { color: #3d3938; font-weight: normal; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .has-error .control-label { color: #a94442; }

/* ==========================================================================
	#pjCrProductExtra
========================================================================== */
#pjWrapper .pjCrProductExtra { color: #6a7579; }

/* ==========================================================================
	#pjCrDatePicker
========================================================================== */
#pjWrapper .pjCrTimePicker .input-group-addon,
#pjWrapper .pjCrDatePicker .input-group-addon { color: #e37d4c; }
#pjWrapper .pjCrDatePicker .input-group-addon:hover,
#pjWrapper .pjCrTimePicker .input-group-addon:hover { color: #16b4bd; }

#pjWrapper .pjCrDatePicker .form-control,
#pjWrapper .pjCrTimePicker .form-control { background: #fff; }

#pjWrapper .pjCrDatePicker .today:before { border-bottom-color: #e37d4c; }
#pjWrapper .pjCrDatePicker .prev span,
#pjWrapper .pjCrDatePicker .next span { color: #e37d4c; }
#pjWrapper .pjCrDatePicker .prev:hover,
#pjWrapper .pjCrDatePicker .next:hover { background: #e37d4c; }
#pjWrapper .pjCrDatePicker .prev:hover span,
#pjWrapper .pjCrDatePicker .next:hover span { color: #fff; }
#pjWrapper .pjCrDatePicker .picker-switch { color: #2d2d2d; }
#pjWrapper .pjCrDatePicker .picker-switch:hover,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active:hover { background: #16b4bd; color: #fff; }

#pjWrapper .pjCrTimePicker a { color: #e37d4c; }
#pjWrapper .pjCrTimePicker a:hover span,
#pjWrapper .pjCrTimePicker td > span:hover { background: #e37d4c; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary { border-color: #d27530; background: #e37d4c; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary:hover { border-color: #d27530; background: #d27530; color: #fff; }

#pjWrapper .bootstrap-datetimepicker-widget { border-color: #ccc; background: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-bottom-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-top-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #fff; }