
/* ==========================================================================
	#General
========================================================================== */
#pjWrapper .form-control::-webkit-input-placeholder,
#pjWrapper .form-control::-webkit-input-placeholder { color: #fff; }
#pjWrapper .form-control:-moz-placeholder,
#pjWrapper .form-control:-moz-placeholder { color: #fff; }
#pjWrapper .form-control::-moz-placeholder,
#pjWrapper .form-control::-moz-placeholder { color: #fff; }
#pjWrapper .form-control:-ms-input-placeholder,
#pjWrapper .form-control:-ms-input-placeholder { color: #fff; }

#pjWrapper .pjCrColorPrimary { color: #f65a1f; }
#pjWrapper .pjCrColorPrimary:hover,
#pjWrapper .pjCrColorPrimary:focus { color: #ba3d0e; }
#pjWrapper .pjCrBgPrimary { background: #f65a1f; }

#pjWrapper .pjCrContainer > .panel { border-color: #2b1b02; background: #2b1b02; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjCrBtntDefault,
#pjWrapper .pjCrBtntDefault.disabled { border-color: #ba3d0e; background: #f65a1f; color: #fff; }
#pjWrapper .pjCrBtntDefault:hover,
#pjWrapper .pjCrBtntDefault.disabled:hover { border-color: #ba3d0e; background: #ba3d0e; color: #fff; }

#pjWrapper .pjCrLanguage li a { color: #909090; }
#pjWrapper .pjCrBtnActive,
#pjWrapper .pjCrNav .pjCrBtnActive,
#pjWrapper .pjCrLanguage .pjCrBtnActive { color: #f65a1f; }
#pjWrapper .pjCrContainer .pjCrBtnPassed { color: #fdd35b; }
#pjWrapper .pjCrContainer .pjCrBtnPassed:hover { color: #f65a1f; }
#pjWrapper .pjCrNav .pjCrBtn.disabled { color: #909090; }

#pjWrapper .pjCrBtnTerms { color: #f65a1f; }
#pjWrapper .pjCrBtnTerms:hover,
#pjWrapper .pjCrBtnTerms:focus { color: #ba3d0e; }

#pjWrapper .pjCrBtnLink { color: #f65a1f; }
#pjWrapper .pjCrBtnLink:hover,
#pjWrapper .pjCrBtnLink:focus { color: #ba3d0e; }

/* ==========================================================================
	#pjCrHeading
========================================================================== */
#pjWrapper .pjCrContainer .pjCrHeading { border: 0; background: #1a1004; }
#pjWrapper .pjCrContainer .pjCrBody { background: #3c270a; }

/* ==========================================================================
	#pjCrBtnNav
========================================================================== */
#pjWrapper .pjCrBtnNav { border-color: transparent; background: transparent; color: #f2f3ee; font-weight: bold; text-transform: uppercase; }
#pjWrapper .pjCrBtnNav:hover { border-color: transparent; background: transparent; color: #ecc158; }
#pjWrapper .pjCrBtnNav ~ .dropdown-menu { background: #2b1b02; }

/* ==========================================================================
	#Panels
========================================================================== */
#pjWrapper .pjCrContainer .pjCrPanelLeft .panel,
#pjWrapper .pjCrContainer .pjCrPanelRight .panel { border-color: #3c270a; background: #3c270a; }
#pjWrapper .pjCrContainer .pjCrPanelLeft .panel-heading,
#pjWrapper .pjCrContainer .pjCrPanelRight .panel-heading { border-color: #2b1b02; background: #2b1b02; }
#pjWrapper .pjCrContainer .pjCrPanelLeft .panel-body,
#pjWrapper .pjCrContainer .pjCrPanelRight .panel-body { background: #312108; }
#pjWrapper .pjCrContainer .panel-title,
#pjWrapper .pjCrContainer .panel-title { color: #f2f3ee; font-weight: bold; text-transform: uppercase; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjCrContainer,
#pjWrapper .pjCrContainer p,
#pjWrapper .pjCrContainer .control-label { color: #e8e8e8 }

/* ==========================================================================
	#pjCrFormCheckout
========================================================================== */
#pjWrapper .pjCrFormCheckout .panel { border-color: #3c270a; background: #3c270a; }
#pjWrapper .pjCrFormCheckout .panel-heading { border-color: #2b1b02; background: #2b1b02; }
#pjWrapper .pjCrFormCheckout .panel-body { background: #312108; }
#pjWrapper .pjCrFormCheckout .form-control { border-color: #251d10; background: #251d10; color: #fff; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .panel-title { color: #f1f2ed; font-weight: bold; text-transform: none; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .control-label,
#pjWrapper .pjCrContainer .pjCrFormCheckout p { color: #e8e8e8; font-weight: normal; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .has-error .control-label { color: #a94442; }
#pjWrapper .pjCrFormCheckout .has-error .form-control { border-color: #a94442; }

/* ==========================================================================
	#pjCrProduct
========================================================================== */
#pjWrapper .pjCrProduct { border-color: #312108; background: #312108; }
#pjWrapper .pjCrProductExtra { border-color: #1a1004; background: #251d10; color: #fff; }
#pjWrapper .pjCrContainer .pjCrProductExtra select.form-control { background: #1a1004; }

#pjWrapper .pjCrProduct .well { border-color: #1a1004; background: #2b1b02; color: #fff; }

/* ==========================================================================
	#pjCrDatePicker
========================================================================== */
#pjWrapper .pjCrTimePicker .input-group-addon,
#pjWrapper .pjCrDatePicker .input-group-addon { border-color: #312108; background: #312108; color: #f65a1f; }
#pjWrapper .pjCrDatePicker .input-group-addon:hover,
#pjWrapper .pjCrTimePicker .input-group-addon:hover { color: #fed45e; }
#pjWrapper .pjCrTimePicker .form-control,
#pjWrapper .pjCrDatePicker .form-control { border-color: #251d10; background: #251d10; color: #fff; }
#pjWrapper .pjCrContainer select.form-control { border-color: #251d10; background: #251d10; color: #fff; }
#pjWrapper .pjCrContainer .form-control:focus { -webkit-box-shadow: 0 0 6px rgba(255, 255, 255, .75); box-shadow: 0 0 6px rgba(255, 255, 255, .75); }

#pjWrapper .pjCrTimePicker td:hover,
#pjWrapper .pjCrDatePicker td:hover { color: #f65a1f; }
#pjWrapper .pjCrDatePicker .today:before { border-bottom-color: #f65a1f; }
#pjWrapper .pjCrDatePicker .prev span,
#pjWrapper .pjCrDatePicker .next span { color: #f65a1f; }
#pjWrapper .pjCrDatePicker .prev:hover,
#pjWrapper .pjCrDatePicker .next:hover { background: #f65a1f; }
#pjWrapper .pjCrDatePicker .prev:hover span,
#pjWrapper .pjCrDatePicker .next:hover span { color: #fff; }
#pjWrapper .pjCrDatePicker .picker-switch { color: #fed45e; }
#pjWrapper .pjCrDatePicker .picker-switch:hover,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active:hover { background: #f65a1f; color: #fff; }

#pjWrapper .pjCrTimePicker a { color: #f65a1f; }
#pjWrapper .pjCrTimePicker a:hover span,
#pjWrapper .pjCrTimePicker td > span:hover { background: #f65a1f; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary { border-color: #ba3d0e; background: #f65a1f; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary:hover { border-color: #ba3d0e; background: #ba3d0e; color: #fff; }

#pjWrapper .bootstrap-datetimepicker-widget { border-color: #251d10; background: #312108; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-bottom-color: #251d10; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #312108; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-top-color: #251d10; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #312108; }

/* ==========================================================================
	#modal-body
========================================================================== */
#pjWrapper .modal-body p { color: #ba3d0e; }