/* ==========================================================================
	#General
========================================================================== */
#pjWrapper .pjCrContainer a,
#pjWrapper .pjCrColorPrimary { color: #d0391c; }
#pjWrapper .pjCrBgPrimary { background: #e83e1b; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjCrContainer .pjCrBtntDefault { border-color: #d0391c; color: #fff; 
	background: rgb(243,76,42);
	background: -moz-linear-gradient(top,  rgba(243,76,42,1) 0%, rgba(231,62,29,1) 95%, rgba(235,61,27,1) 97%, rgba(232,62,27,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,76,42,1)), color-stop(95%,rgba(231,62,29,1)), color-stop(97%,rgba(235,61,27,1)), color-stop(100%,rgba(232,62,27,1)));
	background: -webkit-linear-gradient(top,  rgba(243,76,42,1) 0%,rgba(231,62,29,1) 95%,rgba(235,61,27,1) 97%,rgba(232,62,27,1) 100%);
	background: -o-linear-gradient(top,  rgba(243,76,42,1) 0%,rgba(231,62,29,1) 95%,rgba(235,61,27,1) 97%,rgba(232,62,27,1) 100%);
	background: -ms-linear-gradient(top,  rgba(243,76,42,1) 0%,rgba(231,62,29,1) 95%,rgba(235,61,27,1) 97%,rgba(232,62,27,1) 100%);
	background: linear-gradient(to bottom,  rgba(243,76,42,1) 0%,rgba(231,62,29,1) 95%,rgba(235,61,27,1) 97%,rgba(232,62,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34c2a', endColorstr='#e83e1b',GradientType=0 );
}

#pjWrapper .pjCrContainer .pjCrBtntDefault:hover { border-color: #d0391c; color: #fff; 
	background: rgb(232,62,27);
	background: -moz-linear-gradient(top,  rgba(232,62,27,1) 0%, rgba(235,61,27,1) 3%, rgba(231,62,29,1) 5%, rgba(243,76,42,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,62,27,1)), color-stop(3%,rgba(235,61,27,1)), color-stop(5%,rgba(231,62,29,1)), color-stop(100%,rgba(243,76,42,1)));
	background: -webkit-linear-gradient(top,  rgba(232,62,27,1) 0%,rgba(235,61,27,1) 3%,rgba(231,62,29,1) 5%,rgba(243,76,42,1) 100%);
	background: -o-linear-gradient(top,  rgba(232,62,27,1) 0%,rgba(235,61,27,1) 3%,rgba(231,62,29,1) 5%,rgba(243,76,42,1) 100%);
	background: -ms-linear-gradient(top,  rgba(232,62,27,1) 0%,rgba(235,61,27,1) 3%,rgba(231,62,29,1) 5%,rgba(243,76,42,1) 100%);
	background: linear-gradient(to bottom,  rgba(232,62,27,1) 0%,rgba(235,61,27,1) 3%,rgba(231,62,29,1) 5%,rgba(243,76,42,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83e1b', endColorstr='#f34c2a',GradientType=0 );
}

#pjWrapper .pjCrBtnActive,
#pjWrapper .pjCrNav .pjCrBtnActive,
#pjWrapper .pjCrLanguage .pjCrBtnActive { background: #d0391c; color: #fff; }
#pjWrapper .pjCrContainer .pjCrBtnPassed { color: #e7583d; }

#pjWrapper .pjCrBtnTerms { color: #d0391c; }
#pjWrapper .pjCrBtnTerms:hover { color: #ba2d12; }
#pjWrapper .pjCrBtnLink { color: #d0391c; }
#pjWrapper .pjCrBtnLink:hover,
#pjWrapper .pjCrBtnLink:focus { color: #ba2d12; }

/* ==========================================================================
	#pjCrHeading
========================================================================== */
#pjWrapper .pjCrContainer .pjCrHeading { background: #3d3938; }
#pjWrapper .pjCrContainer .pjCrBody { background: #f3f1f2; }

/* ==========================================================================
	#pjCrBtnNav
========================================================================== */
#pjWrapper .pjCrBtnNav { border-color: #1a1819; background: #282627; color: #fdfdfd; }

#pjWrapper .pjCrBtnNav:hover { border-color: #1a1819; background: #1a1819; color: #fdfdfd; }

/* ==========================================================================
	#Panels
========================================================================== */
#pjWrapper .pjCrContainer .pjCrPanelLeft .panel-heading,
#pjWrapper .pjCrContainer .pjCrPanelRight .panel-heading { background: #fff; }
#pjWrapper .pjCrContainer .panel-title,
#pjWrapper .pjCrContainer .panel-title { color: #33383b; font-weight: bold; text-transform: uppercase; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjCrContainer p,
#pjWrapper .pjCrContainer .control-label { color: #2d2d2d }
#pjWrapper .pjCrContainer .form-control:focus { border-color: #d0391c; -webkit-box-shadow: 0 0 6px rgba(208, 57, 28, .4); box-shadow: 0 0 6px rgba(208, 57, 28, .4); }

/* ==========================================================================
	#pjCrFormCheckout
========================================================================== */
#pjWrapper .pjCrFormCheckout .panel-heading { 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}
#pjWrapper .pjCrContainer .pjCrFormCheckout .panel-title { color: #757f89; font-weight: normal; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .control-label,
#pjWrapper .pjCrContainer .pjCrFormCheckout p { color: #2d2d2d; font-weight: normal; }
#pjWrapper .pjCrContainer .pjCrFormCheckout .has-error .control-label { color: #a94442; }

/* ==========================================================================
	#pjCrProductExtra
========================================================================== */
#pjWrapper .pjCrProductExtra { color: #6a7579; }

/* ==========================================================================
	#pjCrDatePicker
========================================================================== */
#pjWrapper .pjCrTimePicker .input-group-addon,
#pjWrapper .pjCrDatePicker .input-group-addon { color: #e83e1b; }
#pjWrapper .pjCrDatePicker .input-group-addon:hover,
#pjWrapper .pjCrTimePicker .input-group-addon:hover { color: #3d3938; }

#pjWrapper .pjCrDatePicker .form-control,
#pjWrapper .pjCrTimePicker .form-control { background: #fff; }

#pjWrapper .pjCrDatePicker .today:before { border-bottom-color: #e83e1b; }
#pjWrapper .pjCrDatePicker .prev span,
#pjWrapper .pjCrDatePicker .next span { color: #e83e1b; }
#pjWrapper .pjCrDatePicker .prev:hover,
#pjWrapper .pjCrDatePicker .next:hover { background: #e83e1b; }
#pjWrapper .pjCrDatePicker .prev:hover span,
#pjWrapper .pjCrDatePicker .next:hover span { color: #fff; }
#pjWrapper .pjCrDatePicker .picker-switch { color: #2d2d2d; }
#pjWrapper .pjCrDatePicker .picker-switch:hover,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active,
#pjWrapper .pjCrDatePicker .bootstrap-datetimepicker-widget .active:hover { background: #e83e1b; color: #fff; }

#pjWrapper .pjCrTimePicker a { color: #e83e1b; }
#pjWrapper .pjCrTimePicker a:hover span,
#pjWrapper .pjCrTimePicker td > span:hover { background: #e83e1b; color: #fff; }
#pjWrapper .pjCrTimePicker .btn-primary { border-color: #e83e1b; color: #fff; 
	background: rgb(243,76,42);
	background: -moz-linear-gradient(top,  rgba(243,76,42,1) 0%, rgba(231,62,29,1) 95%, rgba(235,61,27,1) 97%, rgba(232,62,27,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,76,42,1)), color-stop(95%,rgba(231,62,29,1)), color-stop(97%,rgba(235,61,27,1)), color-stop(100%,rgba(232,62,27,1)));
	background: -webkit-linear-gradient(top,  rgba(243,76,42,1) 0%,rgba(231,62,29,1) 95%,rgba(235,61,27,1) 97%,rgba(232,62,27,1) 100%);
	background: -o-linear-gradient(top,  rgba(243,76,42,1) 0%,rgba(231,62,29,1) 95%,rgba(235,61,27,1) 97%,rgba(232,62,27,1) 100%);
	background: -ms-linear-gradient(top,  rgba(243,76,42,1) 0%,rgba(231,62,29,1) 95%,rgba(235,61,27,1) 97%,rgba(232,62,27,1) 100%);
	background: linear-gradient(to bottom,  rgba(243,76,42,1) 0%,rgba(231,62,29,1) 95%,rgba(235,61,27,1) 97%,rgba(232,62,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34c2a', endColorstr='#e83e1b',GradientType=0 );
}
#pjWrapper .pjCrTimePicker .btn-primary:hover { border-color: #e83e1b; color: #fff; 
	background: rgb(232,62,27);
	background: -moz-linear-gradient(top,  rgba(232,62,27,1) 0%, rgba(235,61,27,1) 3%, rgba(231,62,29,1) 5%, rgba(243,76,42,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,62,27,1)), color-stop(3%,rgba(235,61,27,1)), color-stop(5%,rgba(231,62,29,1)), color-stop(100%,rgba(243,76,42,1)));
	background: -webkit-linear-gradient(top,  rgba(232,62,27,1) 0%,rgba(235,61,27,1) 3%,rgba(231,62,29,1) 5%,rgba(243,76,42,1) 100%);
	background: -o-linear-gradient(top,  rgba(232,62,27,1) 0%,rgba(235,61,27,1) 3%,rgba(231,62,29,1) 5%,rgba(243,76,42,1) 100%);
	background: -ms-linear-gradient(top,  rgba(232,62,27,1) 0%,rgba(235,61,27,1) 3%,rgba(231,62,29,1) 5%,rgba(243,76,42,1) 100%);
	background: linear-gradient(to bottom,  rgba(232,62,27,1) 0%,rgba(235,61,27,1) 3%,rgba(231,62,29,1) 5%,rgba(243,76,42,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83e1b', endColorstr='#f34c2a',GradientType=0 );
}

#pjWrapper .bootstrap-datetimepicker-widget { border-color: #ccc; background: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-bottom-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-top-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #fff; }